[2019-01-15 04:38] JestonBlu opened #1 "Add get quote function"

[2019-01-15 04:39] JestonBlu opened #2 "Add place order function"

[2019-01-15 04:39] JestonBlu opened #3 "Add cancel order function"

[2019-01-15 18:04] JestonBlu opened #4 "Confirm successful connection when executing RobinHood"

[2019-01-15 18:10] JestonBlu opened #5 "Rename existing functions to function_name style"

[2019-01-15 18:10] JestonBlu opened #6 "Change name getURL to api_endpoints"

[2019-01-15 18:10] JestonBlu opened #7 "Add api_logout"

[2019-01-15 18:10] JestonBlu opened #8 "Add api_instruments"

[2019-01-15 18:10] JestonBlu opened #9 "Change dot notation to underscore"

[2019-01-15 18:11] JestonBlu opened #10 "Make API separate non exported functions with prefix api_"

[2019-01-15 18:11] JestonBlu opened #11 "Add api_positions"

[2019-01-15 18:11] JestonBlu opened #12 "Add api_quote"

[2019-01-15 18:17] #11 closed

[2019-01-15 18:17] #12 closed

[2019-01-15 18:18] #10 closed

[2019-01-15 18:18] #5 closed

[2019-01-15 18:18] #6 closed

[2019-01-15 18:18] #7 closed

[2019-01-15 18:18] #8 closed

[2019-01-15 18:18] #9 closed

[2019-01-16 05:00] #1 closed

[2019-01-16 05:00] #4 closed

[2019-01-16 05:02] JestonBlu opened #13 "Add simple option to get_quote, reformat output"

[2019-01-16 19:22] JestonBlu opened #14 "Relabel api_logout"

[2019-01-16 19:22] JestonBlu commented on #14
Relabel: RobinHood API Logout

[2019-01-16 22:38] JestonBlu opened #15 "Add api_order"
Consider combining api function to place order, get order info, and cancel order

[2019-01-16 22:43] JestonBlu commented on #2
Should return optional order_id

[2019-01-17 03:19] #14 closed

[2019-01-17 03:31] #13 closed

[2019-01-17 05:21] #2 closed

[2019-01-17 05:21] #15 closed

[2019-01-17 17:47] JestonBlu opened #16 "add fundamentals api"

[2019-01-17 17:48] JestonBlu opened #17 "add get_fundamentals function"

[2019-01-17 17:49] JestonBlu opened #18 "Add api_watchlist"

[2019-01-17 17:50] JestonBlu opened #19 "add get_watchlist"

[2019-01-17 17:50] JestonBlu opened #20 "add get_account_info"

[2019-01-17 17:52] JestonBlu opened #21 "add api_market"

[2019-01-17 17:52] JestonBlu opened #22 "add get_market_hours"

[2019-01-17 17:53] JestonBlu opened #23 "add api_tag"

[2019-01-17 17:54] JestonBlu opened #24 "add get_tag"

[2019-01-17 17:55] JestonBlu opened #25 "add get_order_status"

[2019-01-18 05:11] #3 closed

[2019-01-18 05:11] #21 closed

[2019-01-18 05:11] #22 closed

[2019-01-18 05:11] #25 closed

[2019-01-18 20:09] #16 closed

[2019-01-18 20:09] #17 closed

[2019-01-18 20:09] #23 closed

[2019-01-18 20:09] #24 closed

[2019-01-18 20:25] JestonBlu opened #26 "consolidate api_orders into one function"

[2019-01-18 20:26] JestonBlu opened #27 "makes docs names and descriptions consistent"

[2019-01-18 20:27] JestonBlu opened #29 "clean up string formatting for numeric api returns"

[2019-01-18 20:30] JestonBlu opened #30 "make sure each function checks the validity of the input"

[2019-01-18 21:33] JestonBlu opened #31 "add api_user"

[2019-01-19 00:00] #31 closed

[2019-01-19 14:39] JestonBlu commented on #19
added several options for the function

[2019-01-19 14:39] #18 closed

[2019-01-19 17:56] JestonBlu opened #32 "update readme to get ready for release"

[2019-01-19 21:56] JestonBlu opened #33 "add get_user"

[2019-01-20 05:33] JestonBlu opened #34 "cancel order return message when successful"

[2019-01-20 05:36] #26 closed

[2019-01-20 05:52] #27 closed

[2019-01-20 06:01] JestonBlu opened #35 "add get_accounts"

[2019-01-20 06:01] #33 closed

[2019-01-20 06:01] #35 closed

[2019-01-20 15:07] #34 closed

[2019-01-20 17:51] #32 closed

[2019-01-21 04:38] #29 closed

[2019-01-21 04:48] #30 closed

[2019-01-21 17:37] JestonBlu opened #36 "as.numeric() is rounding numbers to the whole number"

[2019-01-22 00:44] JestonBlu commented on #36
Not sure this is a bug, need to check the API output.

[2019-01-22 02:33] JestonBlu opened #37 "wishlist: change "item is already in your wishlist" to"

[2019-01-22 02:37] JestonBlu opened #38 "set default wishlist to "Default""

[2019-01-26 18:03] JestonBlu opened #39 "add get_instrument"

[2019-01-28 02:19] #39 closed

[2019-02-02 05:54] JestonBlu opened #40 "get_positions returns queued and canceled orders with 0 shares"

[2019-02-02 06:02] JestonBlu opened #41 "add get_order_history function"

[2019-02-02 06:17] #41 closed

[2019-02-03 04:15] #37 closed

[2019-02-03 04:15] JestonBlu commented on #38
This doesnt work because one of the first functions to get your wishlist names requires no wishlist to be submitted.

[2019-02-03 04:15] #38 closed

[2019-02-03 04:19] #40 closed

[2019-02-04 15:16] #36 closed

[2019-02-05 04:05] JestonBlu opened #42 "Expose more of the api outputs in the return functions"

[2019-02-11 16:10] JestonBlu opened #43 "Add cancel pending sell order function"

[2019-02-13 17:38] JestonBlu opened #44 "Add refresh token function"

[2019-02-21 13:26] JestonBlu opened #45 "Add created_at date fields indicating the date the record was made to order_history"

[2019-02-21 13:49] #45 closed

[2019-03-27 14:33] CDittmeier opened #46 "get_positions() error"
I am not able to see currently held positions. I'm curious if the issue stems from the option I own on my account.

Error:

Error in data.frame(simple_name = instrument$simple_name, symbol = instrument$symbol) :
  arguments imply differing number of rows: 0, 1

Code:
[code]

[2019-03-27 16:57] JestonBlu commented on #46
When you call RH, do you you have keys populated? This would confirm that your RobinHood connection was successful.

Do you currently have positions or are you expecting it to return empty?

I have not tested RH with the askForPassword function. I will do that tonight.

[2019-03-27 17:44] CDittmeier commented on #46
Yeah the login works fine and I'm having no issues with other functions - just get_positions(). For example get_order_history(RH) works here. I did notice that the order history doesn't include any stock options transactions I've done - so I'm wondering if having stock options in my portfolio causes get_positions to fail.

[2019-03-27 17:53] CDittmeier commented on #46
<img width="282" alt="Screen Shot 2019-03-27 at 1 51 59 PM" src="https://user-images.githubusercontent.com/24812731/55100177-9d3fd200-5097-11e9-84f4-0687fd11d1e7.png">

Here is what I'm expecting to see for reference

[2019-03-27 17:54] JestonBlu commented on #46
Interesting, i think options might be a separate API call. I will look in to this further tonight and let you know what I find. Thanks for the feedback.

[2019-03-27 18:00] CDittmeier commented on #46
Thanks. I'm enjoying the package so far.

[2019-03-28 03:03] #44 closed

[2019-03-28 03:25] JestonBlu commented on #46
I have never used options before. I just changed my account to allow options trading which I will test tomorrow.

The current CRAN release filters out any quantities that are = 0 so that might be why you are not getting results. There also appears to be a bug where `get_positions` will throw an error if you don't have any current positions. I have added warning messages that will tell you if you h

[2019-03-28 14:07] CDittmeier commented on #46
I went ahead and gave it a shot and it returned "You have no current positions or options" despite having both (although I think options are technically positions so that might be redundant). I'll check back in once you've had time to test it.

Any plans to add get_historicals in the robinhood.Portfolio class, and maybe get_notifications to grab deposits/withdrawals? Anything to work back to histo

[2019-03-28 14:27] JestonBlu opened #47 "add get_options, api_options"
Retrieve options market data

[2019-03-28 15:57] JestonBlu opened #48 "add options"
feature to retrieve purchased options contracts

[2019-03-28 16:40] JestonBlu opened #49 "add get_historicals"
retrieve historical pricing data

**Example**
`https://api.robinhood.com/quotes/historicals/?symbols=CAT&interval=day&span=week`

[2019-03-28 16:48] JestonBlu opened #50 "Add ACH transfers"

[2019-03-28 16:49] JestonBlu opened #51 "Research get_portfolio"

[2019-03-28 16:49] JestonBlu opened #52 "Research feature for calculating historical account balance"

[2019-03-28 16:55] JestonBlu commented on #46
Yeah, i saw that this morning. I have pushed a fix so that stock ownership positions return correctly https://github.com/JestonBlu/RobinHood/commit/cf9cc4ca0d01db9321efe793786e7a00d1fc72d5.

So far I have been unable to find purchased options contracts in the API. Since the API is not public I have to rely on work others have down to extract that info. In my digging I have found out how to pull in

[2019-03-29 13:15] JestonBlu commented on #47
##### Example
[code]

[2019-03-29 14:55] CDittmeier commented on #46
Thanks for your work on this. I am still receiving the same error. I went ahead and included the console output below (I still had my password and username stored in the environment so that code is not included).

[code]

[2019-03-29 15:01] CDittmeier commented on #46
Thanks for your work on this. I'm still getting the same error after reinstalling the package. I've included the console output below:

[code]

[2019-03-29 18:53] JestonBlu commented on #46
Strange, I'm not able to duplicate your results. I have tried testing it a few different ways. Both with and without any shares owned in my account. Can you confirm that you are on the GitHub version and that you have restarted R since reinstalling?

I do see the error in the CRAN version when you own no shares, but that has been fixed in the current development version.

[code]

#### Development

[2019-03-29 20:45] #49 closed

[2019-03-30 13:26] JestonBlu opened #54 "add get_options_positions, get_options_order_history"
##### Example
[code]

[2019-03-30 13:28] JestonBlu commented on #48
[code]

[2019-03-30 13:29] JestonBlu commented on #51
##### API
[code]

[2019-03-30 13:29] JestonBlu commented on #50
#### API
[code]

[2019-04-04 23:33] CDittmeier commented on #46
I went down the rabbit hole and found out what was causing the issue. I have a share of Vanguard ESG U.S. Stock ETF  - $ESGV that does not have a simple name. Because it returned NULL for simple name in the get_positions function, it threw off the code below when it returned different lengths for names and symbols. I was able to fix this by subbing the simple_name field for name. I'd consider addi

[2019-04-04 23:57] JestonBlu commented on #46
Awesome, thanks for digging into it. I will patch and push your fix later tonight. On a side note I have found the api calls for option positions and order history and I'm currently working on adding those new functions. I also recently added get_portfolios and get_historicals... One thing I have been thinking about regarding your earlier comment... what do you mean by portfolio class?

[2019-04-05 00:13] CDittmeier commented on #46
I was referencing a vague line [here](https://github.com/sanko/Robinhood/blob/master/Unsorted.md) where it mentions: "Get Portfolio Historicals	GET /portfolios/historicals/$accountNumber?span=...&interval=..." Not sure if I understand what that is describing. Not sure what I meant by class. I'll check out get_portfolios and get_historicals. Thanks!

[2019-04-05 03:13] JestonBlu commented on #51
##### API for historical portfolio values
[code]

[2019-04-05 04:05] JestonBlu commented on #46
I have implemented your fix (7a26e0ecbb140ea6a59f2bc95485b592faff7726). Would you mind checking to see if it works for you? I tested the reference above and was able to pull historical portfolio data as well so I have also incorporated `interval` and `span` as new parameters in `get_portfolio()`

[code]

[2019-04-05 04:06] #51 closed

[2019-04-05 04:06] JestonBlu commented on #52
c3112684f9f1169cdb2ce4738f6a1f2e372494a9

[2019-04-05 04:06] #52 closed

[2019-04-05 13:22] CDittmeier commented on #46
Looks like that worked. Thanks! Also appreciate the get_portfolio() function.

[2019-04-05 13:22] #46 closed

[2019-04-22 15:56] JestonBlu opened #57 "add test parameter to each function to test without executing"

[2019-05-12 02:36] guenslou2001 opened #58 "Login Error"
I am having a hard time calling in my account with my username and password through R.

[code]

I get the following error: "Login not successful, check username and password."
I know for certain the username and password used are correct. I'm not sure if this has to do with Robinhood API or access tokens.

I apologize if this was addressed somewhere else. I did look through all of your opened/clos

[2019-05-13 02:26] JestonBlu commented on #58
It looks like RobinHood changed their authentication. I am following an issue on the python version of this package and it looks like they have created a fix for it. I will start working on implementing it this week.

[2019-05-14 03:15] JestonBlu commented on #58
@guenslou2001 I have pushed a fix to this issue and tested it out on most of the functions. Would you mind installing the development version through github and give it a try? 75383582b17cdd75240132afaaa73230c8681d73

[2019-05-14 11:12] guenslou2001 commented on #58
@JestonBlu Thanks for the update.
I tried the developer version but I'm now getting the following error

                                       <h1>Server Error (500)</h1>
                     (right here) ------^

[2019-05-14 16:51] JestonBlu commented on #58
okay, ill look again tonight... probably a typo

[2019-05-15 02:30] JestonBlu commented on #58
Im not able to reproduce your error. I was able to install the github version and successfully connect to RobinHood. If you installed from RStudio did you restart your session after installing? Can you also verify that your RobinHood package is 1.0.7?

[2019-05-17 12:38] JestonBlu commented on #58
@guenslou2001 have you been able to look at this again? Im will probably push a maintenance fix to CRAN  this weekend if I dont hear anymore.

[2019-05-17 18:05] guenslou2001 commented on #58
@JestonBlu
Sorry for the late reply. I'm on travel at the moment and it's super hard for me to get access to a computer.
Once I'm able, as recommended, I will try restarting my RStudio session. And feel free to push the update. I won't be back home until the 25th of May.
Thanks

[2019-05-17 19:15] JestonBlu commented on #58
@guenslou2001 Thanks, since it appears to be working on multiple computers I have, I feel pretty good about the issue so I will go ahead and push a maintenance release this weekend. Let me know if you are still having issues when you are back and we can look into it further.

[2019-05-26 12:11] guenslou2001 commented on #58
@JestonBlu
I'm back from my vacation and I had the chance to test the package again. I tried 3 different computers, updated my Rstudio and Base R--- nothing. I kept getting the same error. I then noticed that I had a "%" character in my password. I decided to update my password and remove the character in case it was causing issues with JSONLITE. and boom! that was the problem. Now, everything wor

[2019-05-26 12:40] JestonBlu commented on #58
Thanks for letting me know, I will look into the special character issue and see if I can do something about that.

[2019-05-26 12:40] #58 closed

[2019-05-26 13:19] JestonBlu opened #59 "add holdings for crytpo"

[2019-05-30 21:07] JestonBlu commented on #59
requires new endpoint... scraped a new api, https://nummus.robinhood.com and added it to the endpoints function

[2019-06-18 20:40] otalbot94 commented on #59
So how would I pull my crypto earnings? I am new to GitHub and am not following. Thank you for your time.

[2019-06-19 02:44] JestonBlu commented on #59
This is an open issue that I have flagged as an enhancement. From what I have discovered the url is different for crypto. Im still working on incorporating it. Once I have it released on github or cran i will provide an example of pulling crypto holdings in the readme doc.

[2019-07-31 03:44] otalbot94 commented on #59
Hi just wanted to check back on this incase you separated crypto from traditional holdings. Thanks.

[2019-08-04 19:05] rrpaleja commented on #59
@JestonBlu
Great package so far!
Following up on the crypto too - saw something similar set up here: [https://github.com/wang-ye/robinhood-crypto/blob/master/robinhood_crypto_api/robinhood_crypto_api.py]
Hoping we can implement that some of those endpoints

[2019-08-05 22:15] JestonBlu commented on #59
thanks! I have not had time to work on this lately. Ill check this out and let you know.

[2019-08-28 11:21] JestonBlu opened #60 "Make all data type conversions happen in the API functions"

[2019-08-29 20:30] hrazif opened #61 "error due to order type"
I think there is a typo in the place_order function. In the line below, "type" should be replaced with "limit".

https://github.com/JestonBlu/RobinHood/blob/d278fd0f5fd8063104c561f72973ba70af464936/R/place_order.R#L35

[2019-08-30 02:20] JestonBlu commented on #61
Thanks for the report. I have pushed a fix for this to the master branch and bumped the version... Ill plan on including this fix in the next release on CRAN.

[2019-08-30 02:20] #61 closed

[2019-08-30 02:27] #57 closed

[2019-09-06 04:06] JestonBlu commented on #59
@otalbot94 @rrpaleja  I have finally finished implementing this... There are 2 new functions, `get_positions_crypto` and `get_quote_crypto`. Right now its pushed to the crypto branch if you want to check it out. I will look to merge with the master branch this weekend. Id like to try and implement `place_orders_crypto` before pushing to CRAN.  If you get a chance to test out the new functions let

[2019-09-07 17:00] JestonBlu commented on #59
#62 Merged, install from github to try it out

[2019-09-07 17:02] #59 closed

[2019-09-07 17:06] JestonBlu opened #63 "add place_order_crypto, cancel_order_crypto, order_status_crypto"

[2019-09-09 19:13] otalbot94 commented on #59
Imma check it out this week. Thank you.

On Saturday, September 7, 2019, Jeston <notifications@github.com> wrote:

--

*Octavious Talbot,* MA
PhD Candidate
Department of Biostatistics
Harvard TH Harvard School of Public Health
Email: octavioustalbot@g.harvard.edu

[2019-09-09 21:51] otalbot94 commented on #63
Hi JetsonBlu,

I tried downloading your function using the 3 separate methods:

1. install_github("https://github.com/JestonBlu/RobinHood")
2. devtools::install_github("jestonblu/RobinHood")
3. install.packages("RobinHood")

However, I still cannot location the function get_positions_crypto(). It comes up in the help tab as being within the Robinhood function as well, but it cannot be found when I

[2019-09-09 22:21] JestonBlu commented on #63
I'll look at it tonight. The changes are only on the GitHub version right
now. Make sure you restart your r session.

On Mon, Sep 9, 2019, 4:51 PM otalbot94 <notifications@github.com> wrote:

[2019-09-10 02:03] JestonBlu commented on #63
I did a simple uninstall of the package and then reinstalled it from github
via the command on the README.md
(devtools::install_github("jestonblu/RobinHood") and I was able to see
get_positions_crypto and confirm that it loaded and ran. I would suggest
uninstalling the current version you have installed and then closing your R
session... reopen and try the install command again. Hope that helps.

[2019-09-11 13:31] ttrevisan18 opened #64 "Limit and Pattern Day Trading Bugs"
Hello,

Really amazing package! Two small bugs I noticed.

First, when you attempt to place a limit order, the error comes back that order must be 'market' or 'type'. I opened the function, changed the check to 'market' or 'limit' and successfully placed a limit order. Using 'type' does not work.

Second, there are cases where accounts$margin_balances$marked_pattern_day_trader_date will be NA. The

[2019-09-12 01:54] JestonBlu commented on #64
Hi Tony, thanks for the feedback. Someone else already reported the limit bug (#61). I have fixed that on the github version but I have not yet pushed it to master.

For the other bug you are referring to can you give me a little bit more information about the fix? I think that field was added to the API recently. I discovered it when I was working on some of the new crypto features. Right now I h

[2019-09-13 19:17] ttrevisan18 commented on #64
Looks to be working! Thanks!

[2019-09-18 04:05] JestonBlu opened #65 "Replace curl with httr for more flexibility"

[2019-09-19 04:00] JestonBlu commented on #63
Added several functions for crypto currency #66

[2019-09-19 04:00] #63 closed

[2019-09-19 04:01] JestonBlu commented on #59
@otalbot94 @rrpaleja FYI i have added crypto functions to the master branch... will probably push to CRAN this weekend once I get the chance to clean everything up. Check it out and let me know if you see issues (#66)

[2019-09-22 04:19] JestonBlu commented on #65
completed

[2019-09-22 04:19] #65 closed

[2019-09-22 04:20] #42 closed

[2019-09-25 03:30] JestonBlu opened #67 "Add get_portfolio_crypto"

[2019-09-27 02:10] #60 closed

[2019-09-29 20:52] JestonBlu opened #68 "Add error checks for get quote"
If symbol not found, function currently returns "cant find ask_price"

[2019-10-01 21:12] ttrevisan18 opened #70 "Logout issue"
I updated my packages and now the logout function is throwing an error. Even if I login and logout immediately. See below. I did not load the api_logout function so am not sure where the issue is being triggered.

![image](https://user-images.githubusercontent.com/45466366/66001048-af4b6480-e46e-11e9-833f-0e3d7744511a.png)

[2019-10-01 21:14] JestonBlu commented on #70
Thanks, ill check it out tonight.

[2019-10-01 21:26] ttrevisan18 commented on #70
I think it has to do with a conflict with api_endpoints function. When i added the "RobinHood:::" to the beginning, it seemed to fix the problem:
logout = function(RH){
      detail <- paste("client_id=", RH$api_client_id, "&token=",
                      RH$tokens.refresh_token, sep = "")
      url <- paste(RobinHood:::api_endpoints("revoke_token"), detail, sep = "")
      dta <- POST(url) %>% co

[2019-10-01 21:51] JestonBlu commented on #70
Thanks for the tip, ill validate and commit a fix tonight

[2019-10-02 02:25] JestonBlu commented on #70
I have pushed a fix to master on github... there were actually a few problems... the api_logout url was missing the ? before the list of parameters in the api call. Also I standardized a lot of the names in the api functions recently and I apparently forgot to test the api_logout function.

I'll leave this issue open for the week to see if anyone reports any other issues then Ill push the update t

[2019-10-02 13:55] ttrevisan18 opened #71 "New Limit order issue"
Hey,

I think there is another issue with the limit order. Whenever I place a limit order I get the error below (NAs introduced by coercion). I did some troubleshooting and I think it has to do with the fact that it is requiring a stop price. Not all limit orders will have a stop price.  In the second screenshot below, there is a catch if where if type == market, you drop the stop price from the d

[2019-10-02 14:06] JestonBlu commented on #71
Okay, I think I know what the problem is. Ill fix tonight as well, thanks for the report.

[2019-10-03 02:10] JestonBlu commented on #71
Okay I think I have this fixed... the api is expecting the stop price field when the trigger = "stop" so I had it incorrectly doing it when type = "limit". I have pushed the fix to master. Will also keep this open till the weekend. Thanks for the help. Let me know if this is not resolved.

a95b6ea

[2019-10-03 18:03] ttrevisan18 commented on #71
Looks to be fixed! Thanks for the quick response.

[2019-10-05 04:26] rrpaleja commented on #63
Thanks for this @JestonBlu
Just some findings:
 - get_quote_crypto(RH, symbol = "DOGE") works perfectly
- x = place_order_crypto(RH,
                       symbol        = "DOGE",
                       type          = "market",
                       time_in_force = "gfd",
                       price         = .002,
                       quantity      = 400,
                       side

[2019-10-05 04:42] JestonBlu commented on #63
@rrpaleja Thanks, it looks like I had a typo in the api url when i coded it. I just fixed it and pushed to master. My plan is to push a maintenance release to CRAN this weekend. Feel free to use the github version in the mean time. 3ae8720

[2019-10-05 04:58] rrpaleja commented on #63
@JestonBlu You are a beast! Works :)

[2019-10-06 03:14] JestonBlu opened #72 "Make get_order_history faster"

[2019-10-06 13:30] #71 closed

[2019-10-06 13:30] #70 closed

[2019-11-01 13:13] JestonBlu opened #74 "Add analyst rating metrics"

[2019-12-07 17:43] Sbirch556 opened #75 "Security and Implementation with Shiny"
Is storing RobinHood Oauth2 tokens within a Shiny app a viable and secure option?

Say for example a user were to login to Shiny Server Pro or R Studio Connect which I believe uses a layer of authentication using an encrypted cookie for each user. From there a Shiny app provides an additional login page with a password input for password and text input for a username.

From there the users Oauth2

[2019-12-13 00:53] JestonBlu commented on #75
Hey, yeah I'm not really the best person to answer this. Security isn't my background at all. What you are proposing sounds about right to me, but im not sure about the need for a hashed token. I would be interested to hear what you find out.

[2019-12-14 17:59] stevencurrie opened #76 "Error in UseMethod("tbl_vars")"
Full error: Error in UseMethod("tbl_vars") :
  no applicable method for 'tbl_vars' applied to an object of class "NULL"

RobinHood installed okay.  Library loads fine.  Error above occurs when connecting to robinhood.  On this line
RH = RobinHood(username = "myusename", password = "mypassword")

I tried R 3.6.1, R 3.5.1, and R 3.4.4.  I used both install.packages("RobinHood") and devtools::install

[2019-12-14 18:29] stevencurrie commented on #76
Further testing showed username needed to be email address.  Closing.

[2019-12-14 18:29] #76 closed

[2020-02-17 06:05] ptaal opened #77 "Is there a way to get more than 100 rows from the get_order_history?"

[2020-02-18 02:05] sanseveroj opened #78 "Crypto Order Quantity too small"
When trying to execute crypto trades I often get an error saying that the quantity for the order is too small. I'm not sure if this is something that can be fixed or if it is something on the RobinHood end which we won't be able to fix.

for example if I wanted to trade 25$ worth of Bitcoin right now that would be about .0026 BTC which I believe the system errors out past 2 decimal places from som

[2020-02-19 04:17] JestonBlu commented on #78
Thanks for letting me know, ill investigate and let you know what I find.

[2020-02-19 04:18] JestonBlu commented on #77
I wasnt aware of this limitation, ill look into it and let you know what I find.

[2020-03-22 13:10] JestonBlu commented on #77
@ptaal Ive put in a quick fix more or less to allow you to expand beyond the last 100 lines. The `page_size` parameter is now set as a default to 1000, I did not test the limits of how much you can pull back, but I was able to get all of my RobinHood history.

I know this is not really preferred solution, I will make a note to keep looking at the API about this. Feel free to reopen the issue if yo

[2020-03-22 13:10] #77 closed

[2020-03-22 13:22] JestonBlu opened #79 "Poll - Change in Market Buy Execution"
I'm considering changing how the place_order functions work to make it more like the RobinHood web interface. Instead of specifying a number of shares and price to buy at, I'm thinking about just having users specify the total dollar amount they want to invest.

Would love to get some feedback here.

[![](https://api.gh-polls.com/poll/01E416M14B82NTMV84GTHC4NNT/Allow%20me%20to%20input%20my%20inves

[2020-03-22 13:45] JestonBlu commented on #78
@sanseveroj I have pushed a fix for this. I was able to buy a 0.0001 fractional share of BTC with no problem. Sorry for taking so long to get this fixed. Let me know if you have any other issues.

Ill probably push to CRAN soon. For now its published on the github version.

[2020-03-22 13:45] #78 closed

[2020-03-22 14:39] #75 closed

[2020-03-29 12:46] JestonBlu opened #80 "Make get_portfolio return same same info as RobinHood account page"

[2020-03-30 04:11] JestonBlu commented on #48
get_options_positions
get_options_order_history
place_order_options

[2020-03-30 04:12] JestonBlu commented on #48
https://api.robinhood.com/options/chains/?equity_instrument_ids={instrumentid}
https://api.robinhood.com/options/instruments/?chain_id={chainid}&expiration_dates={dates}&state=active&tradability=tradable&type={type}
https://api.robinhood.com//marketdata/options/{optionid}/

[2020-03-30 04:12] #47 closed

[2020-04-05 12:11] JestonBlu opened #81 "Watchlist: add option to return equity stats"

[2020-04-05 12:17] JestonBlu commented on #50
Functions
`get_ach_history`
`place_ach_transfer()` options for place and cancel

[2020-04-09 00:43] abheek24 opened #82 "get_positions(RH) error Error in handle_url"
While implementing get_positions(RH) I ma getting this error. Could you help?

Error in handle_url(handle, url, ...) :
  Must specify at least one of url or handle

[2020-04-09 01:06] JestonBlu commented on #82
Looks like the api has changed, i will look at this quickly and push a fix, thanks for reporting it.

[2020-04-09 11:14] JestonBlu commented on #82
So it looks like they changed the positions url and it no longer available through that call. I spent some time trying to find it last night but I didn't see it. I can see in the API how they are getting things like quotes but I'm not able to get the instrument IDs of the portfolio yet. I will spend some time investigating today.

[2020-04-09 20:32] abheek24 commented on #82
Thanks for looking into it. Appreciate it. Let me know if you are able to figure out.

[2020-04-09 21:18] deanmayne commented on #82
I did some investigating myself to the api changes from the site upgrade and have been setting the following before calling get_positions() as a workaround:

RH$url.positions = "https://api.robinhood.com/positions/"

I hope this helps lead to a solve !

[2020-04-09 23:03] JestonBlu commented on #82
Thanks, ill test this tonight

[2020-04-10 02:15] JestonBlu commented on #82
@deanmayne  That was kind of a no brainer, thanks for posting, i have pushed a fix. Will send to CRAN this weekend.

[2020-04-10 02:15] #82 closed

[2020-04-10 20:16] jgag0627 opened #83 "get_order_history and get_positions"
Hi

First, thank you for all your hard work!

I apologize if this is trivial. I have been looking for hours for a fix but I have been unsuccessful.

1) get_positions:

I have applied the RH$url.positions="https://api.robinhood.com/positions/"
workaround after experiencing the same issues as the first person to report an error.

However, I am only getting my FIRST position and not the rest. Am I do

[2020-04-11 01:34] JestonBlu commented on #83
Thanks, did you try installing the GitHub package version after I pushed the fix yesterday? When I tested it I saw all of my equity positions. I'll do a comprehensive check of all of the functions tonight and address the issue you found. Thanks for reporting it, glad you are enjoying the package!

[2020-04-11 03:12] JestonBlu commented on #83
I was not able to see your issue with `get_order_history()`, but I did notice an issue with `get_order_history_crypto()` which I have fixed with this commit. Try installing the github version and letting me know if your issue still persists. Ill leave the issue open for now.

[2020-04-11 12:58] jgag0627 commented on #83
Hi

Thank you for your response.

I did this today:

1) I removed the package by deleting it from /Library/Frameworks/R.framework/Resources/library

2) I installed it using
install.packages("RobinHood") and I got the same results.

3) I deleted it again and installed using

install_github("jestonblu/RobinHood")

I also got the same results as previously.

I apologize pal, but when you say to insta

[2020-04-11 13:35] JestonBlu commented on #83
Silly question, but Im assuming you were able to install the package from github without an error? Are you using RStudio? Thats really a great IDE for anyone using R, but especially for beginners. You can also easily install and uninstall packages without messing with your directories.

You might know this but just to make sure, if you want to install my development version which is currently slig

[2020-04-11 14:03] jgag0627 commented on #83
Hey pal,

No apologies are necessary. I am the one worried I am wasting your time.

I am a novice compared to users like yourself but I have more
experience than real "newbies".

If you have the patience and energy I would love for you to not assume I
know anything because I often find that there are subtle nuances that I may
have missed in certain areas. I am much more interested in understanding

[2020-04-11 14:22] jgag0627 commented on #83
Hi Joseph,

Sorry, I thought get_positions was only showing my first option because I
thought that my entire portfolio were options. But it was showing the one
stock that I got free when joining Robinhood. I guess my options do not
show up under positions?

The order history still will not work. I am working on it.

I saw a discussion about option challenges on your site. I will read up.

Best,

J

[2020-04-11 21:34] JestonBlu commented on #83
Okay that makes sense. No i do not have options built in yet, I have a current branch that I am working on to add that. Likely will have the function name `get_positions_options()` similar to `get_positions_crypto()`. Options are a different API thats why they are not part of the function. I realize thats not too intuitive.

Im considering changing the name of `get_positions()` to `get_positions_e

[2020-04-12 00:29] jgag0627 commented on #83
Ok thanks pal!

On Sat, Apr 11, 2020 at 5:34 PM Jeston <notifications@github.com> wrote:

[2020-04-12 00:31] JestonBlu commented on #83
Still curious about your order history issue, can you  share the output of the command?

[2020-04-12 14:27] jgag0627 commented on #83
Thank you for taking the time.

I am using Rstudio per your suggestion and I am connected to your Github
account.

Error in `[.data.frame`(order_history, , c("created_at", "symbol", "side",
 :
  undefined columns selected

I  looked at the codes of the files called but nothing stood out.

Best,

Jason

On Sat, Apr 11, 2020 at 8:32 PM Jeston <notifications@github.com> wrote:

[2020-04-12 19:03] #50 closed

[2020-04-12 19:09] JestonBlu commented on #83
Okay, sorry im not able to reproduce your error, I will leave open for some time and see if anyone else has the same issue. Just added ACH tranfers, will likely push an update to CRAN sometime this week.

[2020-04-12 19:15] JestonBlu opened #85 "Make cancel_url, status_url consistent for equity and crypto orders"

[2020-04-13 01:30] #85 closed

[2020-04-13 01:44] #68 closed

[2020-04-13 01:46] #43 closed

[2020-04-14 14:05] jgag0627 commented on #83
Okay thank you very much!

Sent from my iPhone

[2020-04-16 15:49] tianqinglong opened #86 "Time Zone in get_historicals()"
Hi JestonBlu,

Thanks for your work!

I ran the following lines and it seems that the time in the output of get_historicals() is ahead of my local time. I think it would be better to show the time based on the user's time zone.

Thanks

[code]

[2020-04-16 16:10] tianqinglong commented on #86
[1] "2020-04-16 11:09:13 CDT"

[1] "America/Chicago"

                           name acronym     city             website   timezone            opens_at           closes_at   extended_opens_at  extended_closes_at is_open       date
1                    IEX Market     IEX New York  www.iextrading.com US/Eastern 2020-04-16 13:30:00 2020-04-16 20:00:00 2020-04-16 13:00:00 2020-04-16 22:00:00    TRUE

[2020-04-17 03:51] JestonBlu commented on #86
@tianqinglong

I have adjusted the function so that it returns times in your local timezone by default. The timezone listed in the return will also reflect that same timezone. You can also supply a different timezone to convert the time to something other than local.

[code]

[2020-04-17 03:51] JestonBlu commented on #86
I will implement a similar change to `get_historicals()`

[2020-04-17 04:08] 3SMMZRjWgS opened #87 "crypto order issue with error message "NAs introduced by coercion""
Hi JetsonBlu,

Really appreciate your work on this wrapper package. Been testing out buy/sell crypto orders function and kept experiencing the following error message:

[code]

The very first buy order generated by this function tends to go through. The next one and the ones after will fail and trigger this error message. That happened to my initial test using CRAN 1.2.4. Then I removed 1.2.4 and

[2020-04-17 10:54] JestonBlu commented on #87
@3SMMZRjWgS thanks for letting me know, can you provide me with the values you tried to submit instead of the variable names so I can try and reproduce your error?

Did you run the exact same command twice? Meaning same values for all inputs? If not please provide the one that worked and the one that failed.

[2020-04-17 14:47] JestonBlu commented on #86
Going to keep open until i fix the `get_historicals()` function, hopefully tonight

[2020-04-17 19:59] 3SMMZRjWgS commented on #87
@JestonBlu Thank you.

I reran the same crypto sell order code this morning, and received the same error message. I listed the classes and values of each variables used. Below is the RStudio console output starting with the error message.

[code]
crypto buy order was experiencing the same error message before (on CRAN 1.2.4 and Github 1.3.0). But by rerunning the same crypto buy code under Github

[2020-04-17 20:42] JestonBlu commented on #87
Hmm im not sure... the last change to `api_orders_crypto()` was related to the (GH-83) commit a week ago. There was an API change on the RobinHood site that I had to update... i got a report that it affected the `get_orders_crypto()` function, but they both share the `api_orders_crypto()` function although they have different steps.

Are you saying now with the version on github thats working? Eve

[2020-04-17 21:03] 3SMMZRjWgS commented on #87
@JestonBlu

Yes, it's working for the crypto buy orders only (single or multiple orders of the same values within the same login session) using GitHub 1.3.1.

I suspected something similar to what you've described here when I was experiencing the "first order succeed and every next orders fail" symptom, especially when I tried it again the next day and experienced this repeated behavior. But that

[2020-04-17 21:34] JestonBlu commented on #87
Okay, thanks that is helpful, i will try to replicate with some sell orders... i have actually never tested sell orders so thanks.

[2020-04-18 02:18] JestonBlu commented on #87
Okay, i actually was able to reproduce you results, but I still did not get an error... however i did see that the command did not work on RH so it was effectively ignored. Your `class(sell)` returns a `list()` and when I tried it like that I got the same results. Can you try submitting it as a character value instead of a list? I think that will solve it. I was able to create 3 sell orders back t

[2020-04-18 03:24] JestonBlu commented on #86
added same functionality to `get_historicals()`

[2020-04-18 03:24] #86 closed

[2020-04-18 03:28] #83 closed

[2020-04-20 22:17] 3SMMZRjWgS commented on #87
@JestonBlu

Thank you for looking into this. Finally got around to it today myself. Taking cues from your suggested solution, I think I found the solution to my problem.

The NA coercion error was triggered by two things:
1) if price input has more than 2 decimal places
2) if quantity input has more than 6 decimal places

With price and quantity meeting the above requirements, the crypto sell orde

[2020-04-21 03:13] JestonBlu commented on #87
Yeah, i see what you are saying. It works the same for the `place_order()` function as well. I can see that 4 decimals works for the crypto currency DOGE, but if you were to only put in 1 share then it would also fail, because I think you need to have a minimum purchase of 1 cent, which would make sense. When I put in an order totaling 1.5 cents, it took.

In the documentation the qty does say tha

[2020-04-21 03:27] #87 closed

[2020-04-23 20:03] 3SMMZRjWgS opened #88 "get_historicals() questions and error message"
@JestonBlu

I'm back with some questions on `get_historicals()`

(1) For the date/time stamps under begin_at column generated by `get_historicals()`, can I assume they are UTC based? They usually start at 14:00 PM every day, which is about 9:00AM Eastern?

(2) Is the maximum historicals obtainable by this function trailing one year on a daily interval? In other words, there's no way to obtain full

[2020-04-25 02:25] JestonBlu commented on #88
So for 1) the github version has changed the timezone to be your local timezone, you can also input a different timezone if you want to convert it to something else. Yes, the default was UTC originally and someone else requested that timezone flexibility be added.

For 2) Ive tested a few options. Basically the limitations are similar to the RH websiste. You can pull hourly up to a year, after tha

[2020-05-09 21:08] tchaithonov opened #90 "mod_json(dta, "fromJSON") returns "Invalid Authorization header""
Hi Jeston,

I was setting up my connection to RobinHood, and happened to run into this issue when trying to open up the hood:

1) Error in UseMethod("tbl_vars") :
  no applicable method for 'tbl_vars' applied to an object of class "NULL" when putting in username and password
2) further looked into `accounts <- RobinHood:::api_accounts(RH)`, and I got the message in 1).

Looking back at api_logins,

[2020-05-10 02:09] JestonBlu commented on #90
This has been reported before. Make sure you have your username set to your email address. Others have reported error messages when they just put in the username and not the full address. Let me know if this still doesn't work.

[2020-05-10 12:11] #48 closed

[2020-05-15 21:47] Mike-TT commented on #76
Used email and am getting the error of:
Error in UseMethod("tbl_vars") :
  no applicable method for 'tbl_vars' applied to an object of class "NULL"

[2020-05-15 21:52] Mike-TT opened #92 "Error in UseMethod("tbl_vars") : no applicable method for 'tbl_vars' applied to an object of class "NULL""
Error in UseMethod("tbl_vars") :
  no applicable method for 'tbl_vars' applied to an object of class "NULL"

Details-
R version 3.6.2
Library loads
get error on
RH = RobinHood(username = "email", password = "password")

have used login name and email address... same issue

[2020-05-15 22:48] Mike-TT commented on #92
Solved it... It cannot have special characters in your password.  Removed the special characters and it no longer gets the error.

[2020-05-15 22:48] #92 closed

[2020-05-21 02:05] rlusch opened #93 "Error when using get_order_history_crypto()"
I recieve the following error and traceback message when trying to run the function:

[code]
Using R 4.0.0 64bit via RStudio.

[2020-05-22 11:31] JestonBlu commented on #93
Can you try the GitHub version?

[2020-05-25 03:13] JestonBlu opened #94 "Feature Request"
What are your top new feature requests? The API is more or less complete so what functionality is still missing?

[2020-05-25 12:33] JestonBlu commented on #93
I've pushed a new version to cran try upgrading and let me know if you still see the issue.

[2020-05-25 12:37] JestonBlu commented on #90
Also you can't have special characters in your password currently. I will create a separate issue to try and address that.

[2020-05-25 12:37] #90 closed

[2020-05-25 12:42] #88 closed

[2020-05-25 12:44] JestonBlu opened #95 "Fix allow special characters in password"

[2020-05-30 21:57] Squirrel-hue opened #96 "get_order_history_crypto() only pulls last 75 transactions"
As indicated in the title, get_order_history_crypto() is only pulling the last 75 transactions.  I tried on my RobinHood account, and I had a friend try on her account as well, and it was the same, only the last 75 transactions.

I am using the most up-to-date RobinHood package version from GitHub, and am using R 3.6.3 in RStudio Version 1.2.5033.

I am aware that this could be a problem with Robi

[2020-05-31 02:33] Chandrak1907 opened #97 "not able to login"
How to resolve this error?

[code]

[2020-05-31 02:35] JestonBlu commented on #97
@Chandrak1907  Do you have special characters in your password? This is a known issue that doesnt work right now. I have an open issue to resolve this.

[2020-05-31 02:46] Chandrak1907 commented on #97
Yes. Do I need to change my password, before using this?

[2020-05-31 04:28] #97 closed

[2020-05-31 12:47] JestonBlu commented on #97
Yes I would recommend changing it and test again to verify that is the
actual issue. I believe it is. Like I said im working on fixing this, but I
havent pushed a fix yet.

On Sat, May 30, 2020 at 11:29 PM Chandrak1907 <notifications@github.com>
wrote:

[2020-06-02 02:06] tneal129 commented on #94
Is there a way to add functionality to get_contracts() such that it could return a specified range of the option chain? More specifically, I'm wondering if it would be possible to have it return contracts with a particular expiration_date and/or within a range of strike_price. At the moment, it appears to return up to 100 contracts and might not capture everything in the option chain for a particu

[2020-06-02 09:13] klepsydra opened #98 "option spreads?"
Very nice work!

Lately I've been dealing mostly with option spreads, eg. vertical bull put credit spreads, etc.  Typically involving both a long and a short leg of different strike prices, or/and different strike dates, into a single order / position.

Might there be any support for that?

Here is an example of such an order in JSON:

[code]

For reference on setting up the proper POST Request bo

[2020-06-02 22:28] bora19 opened #99 "Keep getting error in useMethod("tbl_vars")"
When trying to connect via the following command

RH = RobinHood(username = "MyUsername", password = "MyPassword")

I keep getting the following error code

Error in UseMethod("tbl_vars") :
  no applicable method for 'tbl_vars' applied to an object of class "NULL"

Im using the correct username and password.  NOTE: my password includes special characters not sure if it matters or not

[2020-06-03 13:31] jsraadt commented on #99
I had the same error, changed my password to no special characters, and the error went away.

[2020-06-03 18:34] bora19 commented on #99
Yeah changing the password to not include special characters worked but made my password less secure.  We should not be changing password sounds like a bug

[2020-06-04 23:46] JestonBlu commented on #99
This is a known issue that I'm working on. I keep getting issues created for this so I will pin this going forward until I get it resolved.

[2020-06-04 23:46] JestonBlu commented on #99
#95

[2020-06-06 18:54] jsraadt opened #100 "Security"
https://github.com/JestonBlu/RobinHood/blob/9d1046ffec1767afd5ea06194cee708a462ac238/R/api_login.R#L15

I'm concerned about security. I'm not shabby at R, but interacting with API is newer to me. That's why I reference line 15 from the `api_login` function, which I understand the main "gateway" between R and Robinhood. Why is the `api_client_id` object some static string of characters?

[2020-06-09 23:29] JestonBlu commented on #100
It's a fixed string used by the Robin Hood app is my understanding. As far as I know all software packages using the API have the same fixed string.

[2020-06-26 20:20] alexlifshitz commented on #94
Is there a way to cancel existing orders if I don't have any longer the url information returned by `place_order` function?

[2020-07-03 02:46] #100 closed

[2020-07-16 18:03] tonytrevisan opened #101 "Fractional Share Trading"
Hello,

Is there any interest in building the fractional share trading ability into the Place Order function?

[2020-07-17 02:38] JestonBlu commented on #101
Yes, i will look into that. I think you have to be account eligible for it to work because I dont think its built in site wide yet, but i will check that out and see.

[2020-07-17 13:15] ttrevisan18 commented on #101
I am fairly certain it's platform wide at this point. What API documentation are you consulting to build out these functions?

[2020-07-18 01:37] JestonBlu commented on #101
There is no API guide that is published. I learned some of the endpoints from a couple other rh rpos on GitHub. Other than that I used the browser dev tools to figure out the API.

[2020-08-01 13:47] moosedoc011 commented on #99
Attempted to simplify the password as outlined above -- still receiving the same error message. Is it possible this it related to 2FA?

[2020-08-02 03:43] chuymtz opened #102 "More detailed historical data"
Great package!

I was just playing with it and noticed that when using the get_historicals function, there's no option for setting the bounds or the collection times. That is, it seems to me that i only get sparse prices for a certain coin and i cant control with how much frequency i can pull my historical prices.

In the past I've used the robin-stocks python api which just recently made upgrades

[2020-08-08 17:58] sanseveroj opened #103 "Issue with get_positions"
Whenever I use get_positions I get an error saying:

Error in handle_url(handle, url, ...) :
  Must specify at least one of url or handle

I'm not sure if this issue is specific to me, perhaps because I have no stocks that it can't return any information?

Anyone else experiencing this?

[2020-08-11 00:00] hisamsabounitadg commented on #103
Bump.

Also having an issue with get_positions():

Error: Unknown column `shares_held_for_stock_grants`
Run `rlang::last_error()` to see where the error occurred.

[2020-08-11 00:03] hisamsabouni commented on #103
Bump.

Also having an issue with get_positions():

Error: Unknown column `shares_held_for_stock_grants`
Run `rlang::last_error()` to see where the error occurred.

[2020-08-14 18:54] hisamsabouni commented on #103
Never mind. This works fine assuming that the portfolio actually has a position. If there are no positions you will receive the error I posted.

[2020-09-01 18:32] JestonBlu commented on #103
Sorry for the delay, i will add a task to return a message when there are no positions to display

[2020-09-02 16:18] JestonBlu commented on #99
@moosedoc011  Maybe, i do not have any features related to 2FA, i will include that as a separate feature but i will prioritize it

[2020-09-02 16:19] JestonBlu opened #104 "Enable 2FA"

[2020-10-15 04:15] kfquach commented on #99
Just wanted to comment that I'm having this same issue as well.

[2020-10-18 21:50] tonytrevisan commented on #101
I forgot to mention, I have been trading fractional shares with the place order function. The one change I made was to comment out the “quantity < 1” stop error so that I can less than 1. Other than that the function works for fractional.

[2020-10-22 02:55] JestonBlu commented on #102
Can you give me a reproducible example of what you are talking about?

[2020-10-22 02:59] JestonBlu commented on #99
I have been working this, but i havent been able to find a solution as of yet. I have posted a [stackoverflow](https://stackoverflow.com/questions/63819558/how-to-store-a-special-character-in-a-string-in-r) looking for help on this one, but so far no takers. Anyone interested in proposing a solution would appreciated.

[2020-10-22 02:59] JestonBlu commented on #101
this will be fixed in the next release, thanks

[2020-11-07 14:00] JestonBlu commented on #99
After working through this issue on [stackoverflow](https://stackoverflow.com/questions/63819558/how-to-store-a-special-character-in-a-string-in-r) i have posted a fix below. I will add the commentary in the main README for future reference.

[code]

[2020-11-15 03:41] e-arslan commented on #99
still getting this problem and there is no special character in the password.

R version 4.0.2 (2020-06-22)
Platform: x86_64-apple-darwin17.0 (64-bit)
Running under: macOS Mojave 10.14.6

[2020-11-15 22:52] JestonBlu commented on #99
are you inputting your email as your username?

[2020-11-26 10:20] kpmainali opened #106 "Error in UseMethod("tbl_vars") despite the correct username and password"
When I try to log in with the following using my correct username and password, I get the following error message.
`RH <- RobinHood(username = "username", password = "password")
`
Error in UseMethod("tbl_vars") :
  no applicable method for 'tbl_vars' applied to an object of class "NULL"

I do not have any escape characters in my username or password. The only character other than letter is a hyphe

[2020-11-26 14:16] JestonBlu commented on #106
Could you try changing your password to remove the hiphen? Not sure if thats the problem. I tested the login function this morning and i have no issues. Also, for your username, did you pull in your full email? Ive heard some people complain that it only works with the full email address. Let me know and ill look into it further.

[2020-11-28 05:13] kpmainali commented on #106
I have now changed the password by removing hyphen. Now all the characters are either letters or numbers. The username has full email address. Still I get the same error message.

[2020-11-30 21:03] JestonBlu commented on #106
Okay, i havent been able to reproduce your error except when I provide an incorrect password. I am able log in fine so im not sure exactly what the issue is.

[2020-12-04 19:43] rmcna86394 commented on #106
I'm encountering the same error. Each time I execute the RobinHood function in R I receive a SMS push notification advising my login attempt was blocked and provided a security code to use to login.

[2020-12-10 20:23] kpmainali commented on #106
I tried the function RobinHood() in Google's AI Platform as well and still got the same error. So, this error is not device specific (I use a Mac).

[2020-12-14 15:34] sxf279 commented on #106
@kpmainali did you enable "Two-Factor Authentication"? If you enabled it (Account > Settings > Security) that may be why you are getting this error.

[2020-12-22 20:04] JestonBlu commented on #99
@e-arslan do you have 2-step authentication enabled on your account? I have not implemented that feature yet but agree its time. I will start looking into it.

[2020-12-23 05:17] bharath-cchmc opened #107 "Error in api_positions : could not find function "api_positions""
When I use any function api_xxx (eg api_tickers or api_instruments I get an error
 `Error in api_positions : could not find function "api_positions"`)

When I use get_xxx I see those are working fine.

Any help would be appreciated

[code]

[2020-12-23 12:19] JestonBlu commented on #107
@bharath-cchmc  are you using the CRAN version or the Github version? In the CRAN version, the api_* functions are not exported so they cant be called directly. If you want to do that you will need to use the Github version.

[2020-12-24 04:46] kpmainali commented on #106
@sxf279 I do have two-factor authentication enabled. I am not sure why two factor authentication results into this problem. I can access my Robinhood account with a python library robin_stocks in Google Colab. This requires me typing the authentication code. Whereas Colab runs on the browser, R runs in my local machine which is a MacBook Pro.

[2020-12-28 23:42] hamannj opened #108 "get_tickers(RH,add_fundamentals=TRUE) Error: Can't transform a data frame with duplicate names."
This is a GREAT package!

When trying out the get_tickers() with the add_fundamentals=TRUE, I got the following error:

t2 <- get_tickers(RH,add_fundamentals=TRUE)
Getting stock ticker data from RobinHood.com.............COMPLETE ( 1.49 minutes)
Getting additional investment fundamentals...Error: Can't transform a data frame with duplicate names.
Run `rlang::last_error()` to see where the error oc

[2021-01-01 17:43] #95 closed

[2021-01-01 17:43] #104 closed

[2021-01-01 17:43] #106 closed

[2021-01-01 17:58] fouslim commented on #104
@JestonBlu thanks for the new commit

I think you forgot to pass the mfa_code argument to the api_login function in the RobinHood::RobinHood
https://github.com/JestonBlu/RobinHood/blob/2c04d1f0282e80e4773e17b8cf6b1d1a873ba08a/R/RobinHood.R#L18

again, many thanks

[2021-01-01 19:12] JestonBlu commented on #104
Thanks, you are right, patching now.

On Fri, Jan 1, 2021 at 11:58 AM Slim Fourati <notifications@github.com>
wrote:

[2021-01-01 19:31] JestonBlu commented on #104
I pushed a change, let me know if that doesnt work.

On Fri, Jan 1, 2021 at 1:12 PM Joseph Blubaugh <jestonblu@gmail.com> wrote:

[2021-01-01 19:48] fouslim commented on #104
it works, thks a lot

[2021-01-05 12:40] #107 closed

[2021-01-05 13:22] JestonBlu commented on #108
@hamannj should be fixed now on github, ill probably fix a few more bugs before pushing another CRAN update, i just submitted 1.5 last night

[2021-01-05 13:22] #108 closed

[2021-01-05 13:23] #79 closed

[2021-01-05 19:52] fouslim opened #110 "Error in dta_cost[[i]]: attempt to select less than one element in integerOneIndex"
I get the error below when trying to call the function get_positions_crypto
`get_positions_crypto(RH = RH)`

   attempt to select less than one element in integerOneIndex

`traceback()`

 1: get_positions_crypto(RH = RH)

if think it is caused when trying to fetch the cost_bases (in my case I own one cryptocurrency)
https://github.com/JestonBlu/RobinHood/blob/1714e7453fe60a9952ef0813848557f1e87d1a

[2021-01-05 20:06] JestonBlu commented on #110
thanks for the feedback, ill take a look

[2021-01-05 20:28] JestonBlu commented on #110
I dont remember why i had that -1 in there... i guess in my case i have 3 positions, but cost basis returns a length of 4 with no data so i must have tried to trim that out, but i just tried it with the -1 gone and it worked the same. I am pushing a change to github, let me know if you are still having trouble.

[2021-01-05 20:29] #110 closed

[2021-01-05 20:46] fouslim commented on #110
That fixed the error. Thanks.

[2021-01-06 03:28] JestonBlu commented on #93
ive been able to run this without issue and ive heard nothing else so ill assume its working fine

[2021-01-06 03:28] #93 closed

[2021-01-06 03:33] #101 closed

[2021-01-06 03:54] #103 closed

[2021-01-06 04:00] #102 closed

[2021-01-06 04:09] JestonBlu commented on #96
I dont have 75 transactions in crypto to reproduce this. The `api_orders()` function has a pager size to allow more results, but i dont see that coming through in the output of `api_order_crypto()`. Not sure if its the structure returned or if i just dont see it because i dont have that many transactions. If this is an issue for others we can reopen and ill give it some attention.

[2021-01-06 04:09] #96 closed

[2021-01-06 14:57] tonytrevisan commented on #101
Hi,

I looked at the place_order function and saw that the line "if (quantity < 1) stop("quantity must be > 0")" is still present. I think this should be removed to allow for fractional shares less than 1. For example, $100 of SPY would not be a full share.

[2021-01-06 18:12] JestonBlu commented on #101
Sorry i thought i fixed that. Its done and pushed to github.

On Wed, Jan 6, 2021 at 8:57 AM Tony Trevisan <notifications@github.com>
wrote:

[2021-01-09 03:34] #74 closed

[2021-01-13 16:10] cheesechanting commented on #94
Is it possible to retrieve options historicals? Similar to options.get_options_historical() from the robin stocks python library?

[2021-01-15 16:07] fouslim opened #111 "api_marketdata error when converting json to data.frame"
I get the error bellow when calling the function get_positions_options:
`> get_positions_options(RH = RH)`
 `Error in (function (..., row.names = NULL, check.rows = FALSE, check.names = TRUE,  :
   arguments imply differing number of rows: 1, 0`
`>traceback()`
` 5: do.call(data.frame, c(x, alis))`
` 4: as.data.frame.list(dta)`
 `3: as.data.frame(dta)`
 `2: api_marketdata(RH, i)`
 `1: get_positions

[2021-01-17 11:17] JestonBlu commented on #111
thanks for the feedback i will look at this shortly

[2021-01-20 21:48] brndngrhm opened #112 "get_tag not working with some popular lists"
this package is great, so glad i discovered it!

I noticed that `get_tag()` doesn't seem to work with all the popular lists on Robinhood. The documentation indicates it works with hyphenated RH tags.

the documentation example works:
`get_tag(RH, 100-most-popular)`

and it works with some other tags, like
`get_tag(RH, healthcare)`

but other popular RH tags return `NULL`, for example:
`get_tag(RH,

[2021-01-22 03:41] JestonBlu commented on #111
should be fixed now, thanks for the tip

[2021-01-22 03:41] #111 closed

[2021-01-22 03:47] JestonBlu commented on #112
@brndngrhm im getting your same results. I will look into seeing if i can build out a list of all of the tags.

[2021-01-23 03:44] JestonBlu commented on #112
I spent some time looking into it and I was able to figure out a lot of the tags, but not cryptocurrency. It seems to be pretty consistent with the tag as its displayed on the website, except for a few. If you figure some more out let me know. Ive added the ones I could find to the docs. Also pasted below

[code]

[2021-01-23 03:44] #112 closed

[2021-01-27 14:26] gustavo-hideo opened #113 "List of all watchlists"
The function watchlist(RH, action='get') is only returning 'Default', instead of a list of my watchlists.

[2021-01-29 20:40] JestonBlu commented on #113
@gustavo-hideo the api did change so i had to do a little re-engineering. I think i need to rewrite the watchlist function so im going to do a new branch for that. In the meantime i have pushed a patch that will let you get your watchlists and then also retrieve the symbols for a particular watchlist.

Ill expand the functionality in the pull request. Hopefully ill be able to do it all this weeken

[2021-01-29 23:07] gustavo-hideo commented on #113
Thank you!

[2021-02-05 23:00] LDleo opened #114 "get_positions_crypto()"
Hello!
I am getting the following error on get_positions_crypto(RH)

Error in `$<-.data.frame`(`*tmp*`, "cost_bases", value = c("178.270000000000000000",  :
  replacement has 6 rows, data has 7

Could you please help me solve the issue?

Appreciate it!

[2021-02-06 16:03] JestonBlu commented on #114
@LDleo  I'll check it out. How many positions do you have for my reference. I'm guessing the api changed.

[2021-02-06 16:18] LDleo commented on #114
@JestonBlu Thank you so much for your answer. It seems to be working today have no idea why. I have 6 crypto positions active now, but I used to have seven (not sure if this info helps). Please let me know if you need any other information.

[2021-02-06 16:22] LDleo commented on #114
@JestonBlu However the values of i) quantity, ii) market_value, and iii) gain_loss do not seem to match. iv) cost_bases is matching my online account.

[2021-02-06 16:22] JestonBlu commented on #114
@LDleo no problem. I'll verify the api works.

[2021-02-06 16:23] LDleo commented on #114
@JestonBlu Thanks! Very helpful package by the way!

[2021-02-11 01:45] 62keram opened #115 "get_order_history_crypto()"
Hello J,

_get_order_history_crypto()_ function does not retrieve full history. It is pulling only records from January 16, 2021 onward and not all the records. The regular stock history worked without any problems.
Not sure if others are seeing the same issue or not.

Thanks

[2021-02-13 14:58] JestonBlu commented on #115
@62keram yeah this has been reported a couple of times. Its not really a bug, crypto is a different api than stocks and right now just pulls a default range. Ill see what I can do about increasing the time range.

[2021-02-18 22:05] jgQuantScripts opened #116 "get_historicals_crypto"
Hello, I have a wrapper to get historical data from RH using some of your api functions and wanted to know where to share it if you are interested.

[2021-02-19 12:24] JestonBlu commented on #116
@jgQuantScripts you can past it in this thread and ill look at it

[2021-02-19 12:25] JestonBlu opened #117 "Add average price to get_positions_crypto"

[2021-02-19 19:11] jgQuantScripts commented on #116
Here is the function:

[code]

[2021-02-19 19:17] JestonBlu commented on #116
Thanks, ill look at incorporating this. Thanks for the contribution.

[2021-02-19 19:45] jgQuantScripts commented on #116
That would be great and no problem thanks for creating this awesome package

[2021-02-24 03:03] #117 closed

[2021-02-24 05:12] willywonka0 opened #118 "What is the fix to the fractional shares function?"
Hey, I'm new to coding in R. I am interested in learning how to turn on the fractional shares function. You might already have a link to a new functioning template!

Thank you :)

[2021-02-24 11:43] JestonBlu commented on #118
Fractional shares should be available for most stocks according to the RobinHood site. I recently made a change to allow fractional shares in the `place_order` function but i have not pushed to CRAN yet. Im hoping to do so in the next couple of days. You can download and install the developmental version oft this package using the README on the front page. That will enable fractional share trading

[2021-02-24 13:24] JestonBlu commented on #114
@LDleo I believe i have addressed this. Let me know if you have more issues. Will include in my next push to CRAN, probably soon.

[2021-02-24 13:24] #114 closed

[2021-02-24 14:25] willywonka0 commented on #118
After the patch, I am receiving an error: check_rn. I am looking forward to seeing how you fix the problem in the code. Thank you, I cant wait to use the fractional shares function.

[2021-02-24 17:31] JestonBlu commented on #118
@willywonka0  if you provide the output you are getting i can look at it, but im guessing you are referring to `check_rh()` which is an internal check to make sure you have an appropriate connection object to RH already established. Have you checked out the [getting started guide](https://jestonblu.github.io/RobinHood/articles/getting_started.html)?

[2021-02-24 18:05] willywonka0 commented on #101
where can it be found on GitHub? (can you post the code like above)

[2021-02-24 18:21] willywonka0 commented on #118
I am able to place a whole number share order with the place_order function. If I place a fractional share order in the place_order function it outputs "Error in place_order(RH = RH, symbol = "FB", type = "market", time_in_force = "gfd",  :
  quantity must be > 0". If I place the fractional order under stock order function it outputs "Error in check_rh(RH) : could not find function "check_rh"".

[2021-02-24 18:43] JestonBlu commented on #118
what are you referring to about stock_order? That is not a function in my package. The check_rh function is not exported by default. In order to enable fractional sharing you need to install the developmental version of the package, not the CRAN version (at least for the next week till the new versions gets pushed to CRAN).

Also do you know how to use code blocks on here so i can better understan

[2021-02-24 19:16] willywonka0 commented on #118
I have the program running, thank you!

[2021-02-24 19:26] #118 closed

[2021-02-24 20:34] willywonka0 commented on #118
Is there a way to have the program automatically run every 3 seconds or so?

[2021-02-24 23:59] willywonka0 opened #119 "Auto-rerun purchase of fractional shares"
Hey, looking for someone who can add the ability to auto rerun the purchase of "fractional" shares during the market open hours at 1,2, or 3 second intervals. There should be a clear way to end the auto-run. The program should work on Mac.

(new to GitHub and coding hope I'm not asking too much)

I see that there is a Marketplace and appreciate the help I received on the last post I wouldn't mind

[2021-02-25 03:49] #119 closed

[2021-02-25 04:53] JestonBlu commented on #116
@jgQuantScripts  This should be incorporated now. Let me know if you see anything funny.

[2021-02-25 06:41] jgQuantScripts commented on #116
@JestonBlu Will do so, thank you

[2021-02-25 12:29] JestonBlu commented on #118
@willywonka0  this is outside of the scope of this package. Im really enabling you to do that on your own. Im playing with the idea of writing a companion package to this one that would assist with some automation rules execution, but its just on the drawing board right now.  If you are brand new to R then I suggest learning the [tidyverse](https://www.tidyverse.org/) way of coding. Its a very pop

[2021-02-25 19:44] JestonBlu commented on #116
@jgQuantScripts  I noticed the function was returning an error when certain combinations of span/interval and bounds returns not results from the API so i put in a fix to address this. I think this feature is pretty good. If you find anything else that needs to be addressed let me know and ill reopen. Im planning on pushing to CRAN soon.

Thanks again for the contribution.

[2021-02-25 19:44] #116 closed

[2021-02-27 13:40] JestonBlu commented on #115
@62keram I have been looking at this and I see history for myself going back a year... im wondering if its more of a limit on the number of records it returns and i need to build in a pager function like i have with some of the other functions... can you tell me what number of records `get_order_history_crypto()` returns for you? Is it 100 by chance?

[2021-02-27 21:01] 62keram commented on #115
@JestonBlu yes indeed, the number of records is always the same, in my case it is always 75 entries.

[2021-02-28 13:07] JestonBlu commented on #115
@62keram this should be good to go now. Also changed the output a little to make it look a little cleaner. Let me know if you run into issues.

[2021-02-28 13:07] #115 closed

[2021-02-28 13:08] #113 closed

[2021-02-28 13:08] #81 closed

[2021-02-28 13:11] JestonBlu opened #120 "Rewrite Watchlist functions"
Include option to return equity stats

[2021-02-28 13:16] #80 closed

[2021-02-28 13:16] #72 closed

[2021-03-01 00:55] mfhisojs opened #121 "Fractional Shares Request"
When attempting to buy fractional shares an error is presented like the following
[code]

Is there a plan to include fractional share purchasing within the `place_order()` function?

[2021-03-01 01:02] JestonBlu commented on #121
@mfhisojs yes i have fixed this on github and the next push to CRAN will include it. I plan to submit a new version to CRAN in a day or so.

[2021-03-01 15:15] JestonBlu commented on #121
@mfhisojs  I have submitted to CRAN, it should populate in a day or so, if you have this problem after upgrading let me know and ill reopen.

[2021-03-01 15:15] #121 closed

[2021-03-01 18:43] kmohammadi6 opened #122 "Issue with Placing Stop Orders Using place_order()"
Hello!
I am having an issue placing a stop loss order using the place_order(RH) function. If I put in a price in place_order(RH) the function will run, but I receive an non-field error that reads, "Stop market sell order requested, but price provided." I have tried to run the function without providing a price variable, and setting it equal to NULL, but the function errors saying it needs a price.

[2021-03-02 05:11] mfhisojs commented on #121
Thank you!

[2021-03-04 07:28] jgQuantScripts opened #123 "get_historicals_options"
Hey @JestonBlu , I came up with a function to help getting historical option data from RH. The time frames that I tested are 5 minute, 10 minute, 1 hour, daily, & weekly. The function returns OHLCV data however the volume column always returns 0 but at least we get some data. I added some columns to include the underlying symbol, strike, expiration, and the option type (call/put). Let me know if y

[2021-03-04 18:26] JestonBlu commented on #123
@jgQuantScripts thanks for the contribution. I start working to incorporate this into the package.

[2021-03-08 01:46] mannytamargo opened #124 "RobinHood() issues with tbl_vars"
Everytime I use the RobinHood() function I get this as an error.

Error in UseMethod("tbl_vars") :
  no applicable method for 'tbl_vars' applied to an object of class "logical"

I tried using the api_login() function and it works fine.. It seems to be an issue with the api_accounts() function that is being called in RobinHood(). Have you run into this issue in the past?

If you have any insight on

[2021-03-08 02:10] 62keram commented on #115
@JestonBlu

Did not see updated version at first on CRAN but now I installed V1.6 the record cap is no longer present. Thank you very much !

[2021-03-09 11:18] mannytamargo commented on #124
Hey I saw the other posts related to this. I tried changing my password to something extremely simple.

9 letters and 1 number -- no special characters at all. I am still getting this error though.

Do you think that it is because there is an "@" in the email?... I am not sure how to login without the email if that's the case....

Also I have 2FA enabled.

[2021-03-09 11:19] mannytamargo commented on #124
Disabling 2FA fixed the issue.

[2021-03-09 18:29] JestonBlu commented on #124
So i only get that issue when i input an invalid authentication code. Otherwise it works fine. I use google authenticator. What were you using? The @ in your email address should not be an issue.

[code]

[2021-03-21 22:53] jrosiene opened #125 "Inaccurate Return from get_positions_crypto()"
Using get_positions_crypto(RH) returns inaccurate data.
As below.  (I definitely don't hold 1 bitcoin)
![image](https://user-images.githubusercontent.com/38916780/111923689-c0c76880-8a76-11eb-9237-90f02329cb86.png)

[2021-03-22 01:29] JestonBlu commented on #125
@jrosiene Strange, i dont seem to be able to reproduce that error. How many bitcoin is it supposed to show? Here is mine that I just tested.

[code]

You arent on an older version of the package by chance? Also strange that your cost basis is 0. Can you give me any more info?

[2021-03-22 03:03] jrosiene commented on #125
Hey Jeston,  Thanks for the quick reply.  Here I will attach my sessionInfo for you.
![image](https://user-images.githubusercontent.com/38916780/111935157-40662f00-8a99-11eb-8852-2ff79d786ac8.png)
Indeed the cost basis is zero because I have never purchased BTC!  Also it is supposed to show about 171 DOGE, and not 2, as you saw above.  Also, if I make transactions, the return of this function neve

[2021-03-22 10:23] JestonBlu commented on #125
So you have never bought any bitcoin even through fractional trading? It looks like you are using an outdated package version. Can you upgrade and see if you are still seeing the issue?

[2021-03-27 12:01] #124 closed

[2021-03-27 12:01] #125 closed

[2021-04-27 13:28] emoro opened #126 "Getting integer numbers in get_positions_crypto()"
Thanks for this amazing library!!!

I run into an issue when calling the function `get_positions_crypto`. For old versions of R (3.5), the function gives back values of crypto currencies in units of 1. Yes, I wish I had a unit of Bitcoin :)

Anyway, I traced back the error to this part of the code in the `api_positions_crypto.R`

[code]

`quantity` is a string from the API and in `dta_qty` is tran

[2021-04-27 19:28] JestonBlu commented on #126
@emoro are you on the most recent package version?

[2021-04-27 20:15] emoro commented on #126
Yes. 1.6. Here is my session info

[code]

[2021-05-02 17:59] JestonBlu commented on #123
@jgQuantScripts Finally got around to incorporating this. Thanks for the contribution! If you dont mind testing it out for a bit id appreciate it. Input on additions or changes are welcome.

[2021-05-03 02:45] #123 closed

[2021-05-09 20:01] JestonBlu commented on #126
Thanks, ill incorporate this

[2021-05-19 01:57] #126 closed

[2021-05-19 02:08] JestonBlu commented on #122
@kmohammadi6 thanks for the input. I think this is something i can improve to handle better inputs, but essentially you would need to provide price = NA for it to work properly. See below.

[code]

[2021-05-19 02:55] JestonBlu commented on #122
@kmohammadi6 I have made a couple of changes to the docs to make it easier to use. I also made `price = NA` by default so you wont have to specify it anymore for stop orders.

[2021-05-28 14:32] davidwmcdevitt opened #128 "Issues with Placing Crypto Order"
I'm running the following:

[code]
and receiving the following output:

[code]

I've tried rounding to the levels specified previously (0.01 for price, whole numbers for quantity), as.char, and as.numeric - but the function does not seem to be reading the object storing price/quantity as a value.

Thanks in advance!

[2021-05-28 14:36] #128 closed

[2021-05-28 14:37] davidwmcdevitt commented on #128
as.integer is the solution - I noticed it in a previous issue that was resolved.

[2021-05-29 02:40] amandeepfj opened #129 "Issue in `get_order_history_crypto()`"
`get_order_history_crypto()` returns wrong value for `price` column. I have attached 4 orders as examples.

![image](https://user-images.githubusercontent.com/941995/120055567-010e0e80-c005-11eb-8745-36d8a61262d4.png)
![image](https://user-images.githubusercontent.com/941995/120055585-14b97500-c005-11eb-91d2-3bb95f658f17.png)
![image](https://user-images.githubusercontent.com/941995/120055614-3f0b

[2021-05-29 04:14] jgQuantScripts commented on #123
@JestonBlu Thank you will check it out over the weekend & let you know if i see some issues.

[2021-05-29 05:38] jgQuantScripts opened #130 "get_contracts 2.0 ?"
@JestonBlu I have some functions to get option chains by expiration. We can get all available expirations from RH via `get_expirations` and then we pass in all the expirations into `get_option_chains`. Alternatively, the user can just manually set the expiration and it will retrieve the options (see examples below). The issue I see is that it incredibly slow, it took about a 1.5 minutes to get opt

[2021-05-29 20:42] oschwery commented on #124
Hi,

I'm still getting this issue, both with the CRAN and the GitHub version.
[code]

As far as I can tell, my authentication code should be valid (I use Authy).

Traceback suggests that it doesn't happen in `api_login`, but in `api_accounts`, but it may as well be carried over from that one...

[code]

Any thoughts?

[2021-06-01 18:08] oschwery opened #131 "Error in UseMethod("tbl_vars") : no applicable method for 'tbl_vars' applied to an object of class "logical""
Hi,

I've commented on [this](https://github.com/JestonBlu/RobinHood/issues/124) issue but it only just occurred to me that you probably won't get notified of comments of closed issues, so I'm opening a new one here.

I'm still getting this issue, both with the CRAN and the GitHub version.

[code]

As far as I can tell, my authentication code should be valid (I use Authy).

Traceback suggests that

[2021-06-03 15:39] davidwmcdevitt opened #132 "Pricing issue on place_order_crypto"
I was originally running the following:
[code]

Had an issue where price was being read as "NA," which was solved by converting start_quote to an integer
`
 start_quote <- as.integer(temp$mark_price)`

This allows the order to be placed - but when the confirmation comes in from H the listed price is different than the quoted amount and the rounded version of the quoted amount (price at the time wa

[2021-06-05 23:41] JestonBlu commented on #124
Thanks I will give this a fresh look. I use the Google authenticator app and it worked as of yesterday. I will try to use your app. Have you tried this with multiple passwords. And you are sure you have mfa enabled on RH? Probably stating the obvious but just want to be sure.

[2021-06-05 23:43] JestonBlu opened #133 "Improve get_contracts()"
Is there a way to add functionality to get_contracts() such that it could return a specified range of the option chain? More specifically, I'm wondering if it would be possible to have it return contracts with a particular expiration_date and/or within a range of strike_price. At the moment, it appears to return up to 100 contracts and might not capture everything in the option chain for a particu

[2021-06-06 07:09] oschwery commented on #124
Hi, and thanks for your prompt reply! Yeah, I just checked again to be sure, and mfa with authenticator app is enabled. I tried with my initial password and then ran into the problem with the special characters, but removing those didn't fix it (or rather, fixing the first problem led me to the second). But let me know if there's other things I should try.

Orlando

_______________________________

[2021-06-07 22:53] klepsydra commented on #98
And what might be a suitable ID field for this joint position, the "id" field fifth from the top in the above Response body?

[2021-06-23 02:11] JestonBlu commented on #129
I have not been able to reproduce your issue. When i look at my own order history it matches what I am getting out of the API. I have limited history though. The API only returns a single price column and im not rounding or operating on it at all so I dont know why it would be different. I will keep looking but right now nothing obvious is sticking out to me.

[2021-06-26 16:50] JestonBlu commented on #131
Unfortunately i am out of ideas. I have tried to duplicate your issue but I seem to be unable to. I tried Authy and it worked fine for me. In earlier versions of the package that message would occur when someone has 2 factor turned on, but tried to login without giving a code (the earlier version didnt have an option to give an auth code). The only other question i can think of to ask then is are

[2021-06-27 15:05] JestonBlu commented on #132
@davidwmcdevitt thanks for the report, i have started looking into this and i have an answer for your first question.

For the NA issue, the problem is with your precision. `get_quote_crpyto()` returns 5 decimals for ETC, but the API will only accept 3 decimals based on what I just tested. I believe this is instrument specific because you can go above 3 decimals for DOGE. So no need to convert to

[2021-06-27 15:11] JestonBlu commented on #133
#130

[2021-06-27 15:11] #133 closed

[2021-07-01 03:35] JestonBlu commented on #132
@davidwmcdevitt so I have looked into your second question and as far as I can tell it is working correctly.  I see what you mean about the initial order price being different, but it looks like when the order is actually filled the submitted price matches the order record. I experimented with one order and this is what I found.

Ill cut out the irrelevant stuff

[code]
Then i received an order co

[2021-07-01 03:43] JestonBlu commented on #129
So while I was looking into another issue I realized that it was similar to your question. Check out the linked issue to see an example of me going through a crypto order. #132

I also did some googling on the difference between the total notional and the filled amount. The total notional is what you are actually charged, and one forum i found suggest the the filled amount being slightly different

[2021-07-23 02:20] #129 closed

[2021-07-23 02:21] #122 closed

[2021-07-23 02:22] #132 closed

[2021-07-29 19:15] wittec commented on #99
I'm getting this same problem. I have a special character in the password. I am using email address as username. I've tried the proposed fixes from November 7, but they aren't working for me. I have mfa disabled on account.

[2021-07-30 22:26] JestonBlu commented on #99
@wittec what package version are you on?

[2021-07-31 02:51] wittec commented on #99
I tried the GitHub and the Cran version, but no luck.

Chris Witte
Research Scientist
Agricultural and Biosystems Engineering
Iowa State University
4306B Elings Hall
Ames, IA 50011
573-864-6629

________________________________
From: Jeston ***@***.***>
Sent: Friday, July 30, 2021 5:26:24 PM
To: JestonBlu/RobinHood ***@***.***>
Cc: Witte, Christopher C [A&BE] ***@***.***>; Mention ***@***.***>
Sub

[2021-07-31 13:07] JestonBlu commented on #124
@oschwery So i have tested on Authy and it worked fine for me so i think we can rule out the authentication app. You said you tried both with and without special characters and neither worked for you? I have tried different combinations of passwords for myself and i havent run into any trouble. If you could maybe share an old password or something that is similar to how your password is set up i c

[2021-07-31 13:09] JestonBlu commented on #99
@wittec do you have multi-factor authentication enabled?

[2021-07-31 13:10] wittec commented on #99
Nope

Chris Witte
Research Scientist
Agricultural and Biosystems Engineering
Iowa State University
4306B Elings Hall
Ames, IA 50011
573-864-6629

________________________________
From: Jeston ***@***.***>
Sent: Saturday, July 31, 2021 8:09:25 AM
To: JestonBlu/RobinHood ***@***.***>
Cc: Witte, Christopher C [A&BE] ***@***.***>; Mention ***@***.***>
Subject: Re: [JestonBlu/RobinHood] Keep getting er

[2021-07-31 13:19] JestonBlu commented on #99
I just tried it both with and without MFA and it worked fine for me. My password also contains special characters. Could you maybe try changing your password and using some different special characters to see if that works? I have continued to receive a few inquiries about this, but i havent been able to find anymore issues related to the code. I keep coming back to the password itself.

[2021-07-31 13:27] wittec commented on #99
Ok, a password change was going to be my last effort. Thanks for your reply!

Chris Witte
Research Scientist
Agricultural and Biosystems Engineering
Iowa State University
4306B Elings Hall
Ames, IA 50011
573-864-6629

________________________________
From: Jeston ***@***.***>
Sent: Saturday, July 31, 2021 8:19:56 AM
To: JestonBlu/RobinHood ***@***.***>
Cc: Witte, Christopher C [A&BE] ***@***.***>;

[2021-08-14 21:20] wittec commented on #99
I changed my password and it is working now! Thank you!

[2021-08-14 21:31] JestonBlu commented on #99
That's great. Id like to know what went wrong with your last password.
Would you mind sharing what special characters you used in your password
that didn't work and what character position they were in? I'll try to work
a fix if there is something I can do.

On Sat, Aug 14, 2021, 4:20 PM wittec ***@***.***> wrote:

[2021-08-14 21:35] wittec commented on #99
it was a "#" character. It was in the middle of the password.

[2021-08-14 21:40] JestonBlu commented on #99
Thanks. I'll look into it and hopefully find a solution.

On Sat, Aug 14, 2021, 4:35 PM wittec ***@***.***> wrote:

[2021-08-17 15:43] #131 closed

[2021-09-21 21:20] JanLauGe commented on #99
Hi! First of all, thank you for making this package available. Great work!

I am running into issues with this as well. After ironing out details with password and MFA, my error is now slightly different to the ones described above but also a `table_vars()` error:
[code]

Digging in a bit further, it looks like authentication works fine but my response json does not contain margin balances
[code]

[2021-12-01 14:29] SwingBotScripts commented on #124
Hello! Was a solution ever found for this? I am having the same issue now as well.

[2021-12-01 16:21] SwingBotScripts commented on #124
Thanks for the quick response. My password has no special characters and it has been working for months without 2FA. I tried to enable 2FA today and play with the login, and still got either a NULL or LOGICAL error.

Thinking about what changed this week...I downgraded my account from Instant Settlement to Cash in order to day trade with a smaller balance. I just read that a user on thread https:/

[2021-12-01 16:23] SwingBotScripts commented on #99
@JanLauGe

I am having the same issues after months of successful access, and just posted on thread https://github.com/JestonBlu/RobinHood/issues/124 .

Thinking about what changed for me this week...I downgraded my account from Instant Settlement to Cash in order to day trade with a smaller balance. I just read that you were having issues with margin balances being NA. This would make sense if ma

[2021-12-01 16:31] JestonBlu commented on #124
Okay, thats interesting. Maybe would explain why I have never been able to
reproduce the issue. I have margin trading disabled and I used 2FA
currently. I have tried with multiple authenticator apps as well and that
doesnt seem to matter.

On Wed, Dec 1, 2021 at 10:21 AM SwingBotScripts ***@***.***>
wrote:

[2021-12-01 16:42] SwingBotScripts commented on #124
Upgrading back to Instant worked...

[2021-12-01 16:57] JestonBlu commented on #124
Interesting. I'll play with that setting and see if I can figure out a fix.

On Wed, Dec 1, 2021, 10:42 AM SwingBotScripts ***@***.***>
wrote:

[2021-12-01 17:02] SwingBotScripts commented on #124
That would be awesome! I'm guessing the underlying table is just different if you have a Cash account. Looking forward to seeing what you find.

[2021-12-04 15:15] OMHTrader commented on #94
Is there a way to get strike price and expiration date on transaction history from get_order_history_options()?

Or some way to use the option id from get_order_history_options() to load in strike price and expiration date to link transactions to a position or strategy?

I tried (with an Option ID):

[code]
Error: lexical error: invalid char in json text. <html><head><meta http-equiv="r (right her

[2021-12-08 02:18] paragemini opened #134 "api_contracts function is not recognised"
After installing this package from CRAN and from Github all of the api functions seem to be unrecognizable. but all the get_functions works well? Is there any issue from my side that is creating this error?
[code]

[2021-12-08 23:38] JestonBlu commented on #134
The api functions are not exported in the CRAN version to keep the namespace small. The get functions are intended to be what the user executes. All get functions call one or more api functions. In the docs i have a network plot that shows how all [functions](https://jestonblu.github.io/RobinHood/articles/network_graph.html) are related.

If you want to be able to execute the api functions for tro

[2021-12-09 00:31] paragemini commented on #134
all right, thanks. Just trying to get all the options contract for all expirations. I thought the api_contract function would return all of it. Might have to dig deep. Thanks for your help!

[2021-12-17 03:04] JestonBlu opened #135 "function validation testing"
[code]

[2021-12-30 16:42] #135 closed

[2022-01-08 00:22] ssobel opened #138 "fractional shares and "sell all""
Hello, great R package! I use it daily. I am interested in code to buy fractional shares. I have been looking all around this repo and can see discussion that fractional shares has been added as a feature to place_order() but can't seem to find the exact code example how to do this.

Can someone provide example code how to buy fractional shares? (also code to "sell all"?)

Thank you.

[2022-01-12 16:44] fouslim opened #139 "get_positions_options: Column `updated_at` doesn't exist"
Hi @JestonBlu,

i got an error today while calling get_positions_options
[code]
below is the traceback:
[code]
I'm using the RobinHood_1.6 downloaded from CRAN

I think the error is coming from line 66 of the get_positions_options.R when you do the inner_join
[code]
it seems that the data.frame option_market_data also have an `updated_at` column.

The fix I found is to remove the column `updated_a

[2022-01-13 02:38] JestonBlu commented on #139
Thanks, I’ll check it out. Sounds like an api change.

[2022-01-18 22:05] #139 closed

[2022-01-18 22:25] JestonBlu commented on #139
@fouslim @SwingBotScripts thank you both for the tip, i have committed and pushed the changes... ill push to CRAN this week.

[2022-01-18 22:40] SwingBotScripts commented on #139
Great. Thanks!!

Sent from my iPhone

[2022-01-31 19:54] fouslim opened #141 "get_positions_options: Column `state` doesn't exist"
Hi @JestonBlu.

I got a similar error as #139 when calling `get_positions_options`, this time column `state` is missing.
The fix I found was to modify line 67 of get_positions_options.R:
`options <- dplyr::inner_join(options, option_market_data, by = "option")`
to
`options <- dplyr::inner_join(options, option_market_data, by = c("option", "state"))`

thanks

[2022-01-31 22:54] JestonBlu commented on #141
@fouslim thanks, ill push a fix shortly. It looks like the API changed to add some additional fields that are common and are being renamed when I join. I must have missed this one or it changed again after i fixed it. Ill push a fix to github tonight and a patch to CRAN in a week or so in case there are any other issues.

[2022-02-01 13:01] #141 closed

[2022-02-03 03:57] JestonBlu commented on #138
@ssobel here is an example of placing an order for a fractional share. If i understand your sell all question correctly, inputting the full quantity of shares you own in the quantity field and switching `side = "sell"` should do it

[code]

[2022-02-03 03:59] #134 closed

[2022-02-03 03:59] #138 closed

[2022-02-09 22:48] ssobel commented on #138
Thanks Jeston!!

Sent from Mail for Windows

From: Jeston
Sent: Wednesday, February 2, 2022 10:57 PM
To: JestonBlu/RobinHood
Cc: ssobel; Mention
Subject: Re: [JestonBlu/RobinHood] fractional shares and "sell all" (Issue #138)

@ssobel here is an example of placing an order for a fractional share. If i understand your sell all question correctly, inputting the full quantity of shares you own in the

[2022-02-20 18:08] #99 closed

[2022-03-10 22:29] shimonisrael opened #144 "Buy in dollars rather than shares?"
Thanks for all your great work on this. I'm curious if I'm overlooking the ability to buy by dollar-value investment rather than by number of shares through the API. The website allows this, so I'm wondering if it's configurable in an R request. Any insight? Many thanks.
<img width="135" alt="Dollars" src="https://user-images.githubusercontent.com/9616744/157765523-12abf5e4-143f-47f3-89eb-df7a42ef

[2022-03-11 03:43] JestonBlu commented on #144
The last time i looked the api required you to submit a price and a quantity, so if I were to do something like that I would just back into it by dividing what you want to invest by a current quote. Here is an example.

Since you can buy fractional shares this should work, but you may have to trim the number of decimals depending on the security.

[code]

[2022-03-11 04:14] shimonisrael commented on #144
Very good. Makes sense and thanks for the quick response. There might some minor differences in the amount purchased, but a real time quote call should minimize that. Love the package.

[2022-03-11 05:28] #144 closed

[2022-04-05 01:01] 3SMMZRjWgS opened #145 "feature request: trailing stop for stocks"
@JestonBlu: I searched the manual and also past discussions, but I can't seem to find any discussions regarding trailing stop orders for stocks. Is there a way to implement this feature in the package? Robinhood app has this feature, so I presume Robinhood API can provide this functionality?

[2022-04-05 15:25] JanLauGe commented on #99
Hey! Coming back to this after some time.
I just put in a PR that fixes this for me. Root cause is a small if statement that seems buggy.
PR: https://github.com/JestonBlu/RobinHood/pull/146

[2022-04-30 19:58] 3SMMZRjWgS opened #150 "HTTP 400 error for get_tcierks(RH, add_fundamentals = T)"
Hello,

When I run the following:

`get_tickers(RH, add_fundamentals = T)`

I get:

[code]

`get_tickers(RH, add_fundamentals = F)` works as intended.

P.S. I'm using RobinHood:: 1.6.5 GitHub install.

[2022-05-05 17:50] ericvaughn11 opened #151 "Getting Bad Request (HTTP 400) Error"
I've seen several posts on here about people randomly having this issue. My script to login worked about a week ago, but now on multiple computers it won't work. This is just using the api_login() function.

I updated R, installed the github version of the package, changed my RH password, updated the 2fa... nothing. As a side note, I was getting the 'tbl_vars' issue (#99 ) before updating to the m

[2022-05-05 19:40] 3SMMZRjWgS commented on #151
Same issue here as of this morning PT.

[2022-05-06 14:07] ericvaughn11 commented on #151
Edit: After directly trying the api_login() function with v1.6.2, I can login correctly, however, with the same mfa code in the Robinhood() function I get the tbl_vars error. No idea what that means but figured it might be helpful in diagnosing the issue. Thanks again for the great package!

[2022-05-06 19:27] 3SMMZRjWgS commented on #151
I tried downgrading to 1.6.2 and using the `api_login` function. It doesn't work for me. I can confirm your `tbl_vars` error when going 1.6.2 route.

I upgraded back to 1.6.5 from Github and dug into the api_login function. What I did find is the following error by tracing the function to the line `dta <- httr::POST(url)` . Calling the following yields a detailed error message:
[code]
I'm reaching

[2022-05-07 00:35] JestonBlu commented on #151
Thanks for the info. Looks like something changed with the API. I'll check it out this weekend and see if I can get a patch quickly.

[2022-05-07 23:40] jgQuantScripts commented on #151
All,

I found a temporary solution in the meantime but having trouble passing the MFA code into the payload. The following will work when the MFA is not required.

1. We first need to modify the ```api_login```  function:

note: Not sure if the ```device_token``` & ```al_pk```  is unique to each user? Also not sure if all headers are required but those are the ones I found.

[code]
2. Next I modif

[2022-05-09 02:18] JestonBlu commented on #151
So far I have not been able to figure it out. I have been trying to mimic the same process as the web login which i can see with the debug tools in Firefox, which has worked in the past, but doing so now doesnt seem to change the error message. I have not tried turning MFA off yet.

I can confirm that my device_token is different, but the al_pk is a new parameter that has been added. Im not sure w

[2022-05-11 20:14] cbengibson2 commented on #151
FWIW, this didn't work for me. The client_id was the same for sure, but I couldn't verify whether al_pk or device_token were the same.

[2022-05-12 02:57] JestonBlu commented on #151
So.. i still dont have a workaround, but i did confirm that if you login through the browser and use the debug tools to see your POST command, you can copy the token out of your browser and replace the value in your current RH object. Or you can just build one. You technically only need the access_token, but a lot if not all of the functions check that you are passing something with the RobinHood

[2022-05-12 03:16] JestonBlu commented on #151
Actually, i have figured it out... the format of the API has changed.. instead of passing most of the inputs as parameters, you now have to pass all of those credentials with the body. I was able to get this to work in Postman. I will replicate in R and git something out to test on the github version shortly.

[2022-05-13 00:51] SwingBotScripts commented on #151
Thanks for digging into this, @JestonBlu! Were you able to replicate in R yet?

[2022-05-13 01:34] SwingBotScripts commented on #151
For what it's worth, the access token workaround worked for me for get_quote(), but for get_contracts() I am still getting the following error:

Error in RobinHood::api_contracts(RH, chain_symbol, type) :
  Unauthorized (HTTP 401).

[2022-05-13 03:07] JestonBlu commented on #151
Yeah, i am just finishing up a fix. In the end I had to rewrite the login in function. I have temporarily disabled not using an MFA. I also redesigned the RH object to have more transparency about what the API response is returning. I have a test script and all but 2 functions failed (those are related to ACH so ill look at that separate). Would appreciate some testing to see if anything else isnt

[2022-05-13 03:20] #151 closed

[2022-05-13 04:34] SwingBotScripts commented on #151
Testing the new version and it’s working for my use cases. I’ll keep an eye out for the ability to not use MFA but not a major obstacle for now. Thank you!

[2022-05-13 16:50] jreeder3131 opened #153 "argument "mfa_code" is missing, with no default"
I just updated to the Github version of the package this morning (login had broken on my CRAN installed version) and now I am getting an error that looks like it is related to MFA.

I don't have MFA setup. Am I required to in order to continue using the package?

I prefer not to use MFA since I have some automated code running.

[2022-05-13 20:28] cbengibson2 commented on #153
The Robinhood API changed, and MFA is now required. I used the google authenticator app: I authenticated using the R package manually (by entering the MFA code provided by google authenticator), and then saved the RobinHood object for later use, e.g. `save(RH, file="RH.Rdata")`. It has worked for data collection for me (though I have been unable to place an order with the new version).

[2022-05-13 21:20] JestonBlu commented on #153
I will test not being able to place an order. MFA is required at the moment for the github version. I will try to get both working again this weekend.

[2022-05-15 00:08] jreeder3131 commented on #153
Thanks, yeah my code relies on ability to place orders, so that would be appreciated.

[2022-05-15 02:45] #153 closed

[2022-05-15 14:02] sneijder12 commented on #151
Hi All - thanks for publishing this fix so promptly. However, I tried updating to the latest github version (1.6.7) but am still getting 400 Bad Request in my api_login function. I turned on MFA and tried entering the code as a string and as a numeric but neither seems to work.

Any ideas on what could still be causing the issue? Is there a way to look in the "dta" object for a 400 error "reason"?

[2022-05-16 15:14] cbengibson2 opened #156 "Cannot place order"
Hi All,

I installed the new Github version this morning and was unable to place an order. The line in `RobinHood::api_orders` seems to be the issue:

[code]

R is looking for `RH$api_client_id` but doesn't exist. If I run `RH$api_client_id<-RH$api_request.client_id` prior to placing the order, it works fine.

HTH

[2022-05-16 15:50] cbengibson2 commented on #156
Ah, I see the problem -- I saved the RH authentication object before you updated the package, then used the older object to place the order. My bad! The new version works great. Thanks!

[2022-05-16 19:03] #156 closed

[2022-05-16 19:52] kmohammadi6 opened #157 "MFA Requirement"
Hello, I just wanted to begin by saying thank you for all the speedy work to get the package up to date with the new API, I really appreciate it!

Looking at the GitHub version of the package, it seems that MFA is now required in order to use the package. Like many others, I have a script that I run automatically for order placement, as such having to use MFA each time would be impractical. Given

[2022-05-16 20:02] #150 closed

[2022-05-16 20:06] JestonBlu commented on #157
Hi, thanks im glad you enjoy the package. I will work on reenabling the non MFA login. I wanted to get something working quickly and make sure there were no other breaks. I have addressed all of the known api issues so ill turn my attention to this one.

[2022-05-16 20:50] JestonBlu commented on #157
After looking at my account settings, i dont see an option to disable MFA, only edit my existing MFA. Unless I am missing something obvious. Can you point me to it?

[2022-05-16 21:52] kmohammadi6 commented on #157
Looking at it I don't think you can. I have access to two accounts, one with MFA one without. In the MFA enabled one I don't see a way to turn it off...

I was able to test the solution I had above, saving the RH object after using the MFA Code once seems to work. But I'm not sure if that's a reliable solution going forward.

`RH <- RobinHood(username = "my_username", password = "my_password, mfa_

[2022-05-17 00:56] sneijder12 opened #159 "HTTP 400 Bad Request on api_login"
Hi All - first of all - thanks to JestonBlu for quickly getting this 1.6.8 patch out for the recent API changes. Really appreciate it and anyone else who contributed to testing.

Apologize for re-opening this issue that was just closed, but I've been updating to the latest github versions (tried 1.6.7 yesterday, and 1.6.8 today) but am still getting 400 Bad Request in my api_login function. I turn

[2022-05-17 03:27] JestonBlu commented on #157
okay, they must be pushing that... so something that people might not know is that the access token you get lasts for quite a while. Ive added the expiration (which i think is in seconds) to the RH object. Ive used one token for multiple days so its not like you have to login every time you do an action.

Looking at the api im wondering if the command would basically be the same. Ill change the fu

[2022-05-17 03:34] kmohammadi6 commented on #157
That sounds good, so you're saying that the mfa_code argument would be NULL by default, which is how it was previously right?
Let me know when I should give it a try!

[2022-05-18 17:50] exploringfinance commented on #157
I have not signed up for MFA but I was using an older version of the package and it suddenly stopped working two weeks ago. I am happy to test as well, but something tells me that MFA might be required. I played with some of the source code and it was giving me 404 anytime I didn’t provide mfa

[2022-05-18 18:59] kmohammadi6 commented on #157
Sounds good!
Using the current git version (1.6.8), I tried supplying a random number (as a character) for the MFA code on a non-MFA enabled account and I get a Bad Request error. Supplying NULL results in an error from the api_login function. The body dataframe cannot be built in the api_login function.

This is what I tried on the non-MFA enabled account:
`mfa_token <- paste0(sample(0:9, size =

[2022-05-18 19:30] exploringfinance commented on #157
I am happy to try it but not sure it will work. I passed ‘’ and random strings. 404 error for all of them. It wouldn’t let me pass a NULL value. If they require mfa there won’t be a way to fully automate. I wrote packages for etrade and TD. They both allow for refreshing tokens allowing you to go indefinitely. TD uses oauth 2. Maybe Robinhood can allow something similar?

[2022-05-19 12:22] JestonBlu commented on #157
If someone could try this out I would appreciate it.

[2022-05-19 13:24] exploringfinance commented on #157
400 Bad request

I used this code:

[code]

And the response was this:

[code]

[2022-05-19 15:10] kmohammadi6 commented on #157
I got the same thing, pulled down the latest commit of the pkg using:
`devtools::install_github("jestonblu/RobinHood@062641f36a779b40cea884c49fd8857613fe9811")`
When I tried to run it on my non-MFA account I get a the same Bad Request HTTP 400 error.

Not sure how helpful this is, but I took a closer look inside the api_login function and noticed when you run this line:
`dta <- dta %>% content(typ

[2022-05-19 19:25] sneijder12 commented on #157
@kmohammadi6 could you clarify how you are obtaining the mfa_code for the MFA-enabled and non-enabled accounts? We have two Robinhood accounts - one which we've turned on standard SMS MFA (and now can't see any way to disable it), one which we have MFA disabled.

Here are the $detail text from the HTTP 400 error:

For the account with no MFA (and we enter a empty string in mfa_code):
$detail
[1] "

[2022-05-19 19:34] kmohammadi6 commented on #157
For the MFA **_enabled_** account I get the code from the Duo mobile app and pass it as a character to the Robinhood function. This has worked for me on the MFA enabled account. As JestonBlu mentioned, the token seems to be good for a number of days so I saved the RH object as an RDS and can reuse it.
`RH <- RobinHood(username = "my_username", password = "my_password, mfa_code = "my_mfa_code")`

F

[2022-05-20 06:14] industrial-dreaming opened #160 "Error in get_historicals_options"
Getting the following error when I run the example code for get_historicals_options:

Error in parse_url(url) : length(url) == 1 is not TRUE

Perhaps related to the changes behind the HTTP 400 Bad Request issues?

Thank you for your time!

[2022-05-21 05:53] industrial-dreaming commented on #160
Did some of my own investigation and it looks like the starting point for the error takes place after running the following, with the resulting output:

rawToChar(dta$content)
[1] "{"detail":"Invalid Authorization header."}"

I'm new to this, but it looks like the structure of dta$content has changed?

[2022-05-21 18:24] JestonBlu commented on #160
Thanks for letting me know, this is one i forgot to test. The api seems okay, but something did change. The error is from the `api_instruments_options` function returning more than one url. The function is setup to expect 1 url I think. Ill investigate more and work on a patch.

[code]

[2022-05-27 18:50] sneijder12 commented on #157
Thanks for the info. For some reason my mfa-enabled account still isn't working. Is it the 6-digit code from DUO (that expires every 30 secs) what you plug into argument mfa_code? Or is it a alphanumeric code?

[2022-05-27 18:55] kmohammadi6 commented on #157
I'm using the 6 digit code from the DUO App, passing it as a character

Not sure if this is the issue, but in the the app it might look like it's showing a space between the 3rd and 4th digit, but you just need to pass it as a 6 digit code with no space.

[2022-05-27 19:19] kmohammadi6 commented on #157
I'm doing a couple different things it sounds like. Firstly, I'm just using the top level Robinhood function but that shouldn't be an issue.

It sounds like you're going through the RH app to get the code? I'm just going to the duo mobile app directly, you can add accounts and store them in the DUO app. I never open up the RH app to get the code.

[2022-06-08 21:03] ericvaughn11 commented on #156
Thanks JestonBlu again for tackling the API issue so quickly. I have a related issue I thought I'd bring up here.

I'm running into an odd error with api_orders as well where I can seem to place a sell order, but get `Bad Request (HTTP 400).` when trying to place a buy order. I've tested this a few times and it rejects only buy orders. This is on 1.6.8. Any ideas?

[2022-06-28 01:30] JosiahParry commented on #159
Just downloaded this package. Cannot log in with same error. My account does not have MFA.

[code]

[2022-07-12 03:04] #159 closed

[2022-07-30 16:40] samboy84 commented on #157
Iam still having this issue, any resolutions.
Error in RobinHood::api_login(username, password, mfa_code) :
  Bad Request (HTTP 400).

[2022-07-31 16:47] JestonBlu commented on #157
Are you using the latest github version? I checked this morning and it
worked fine for me. Its been a while since I have pushed to CRAN, i will
try to prioritize and update soon.

On Sat, Jul 30, 2022 at 11:40 AM samboy84 ***@***.***> wrote:

[2022-07-31 16:58] samboy84 commented on #157
Can you please provide the syntax that was working.

[2022-08-01 23:17] JestonBlu commented on #157
Its the standard connection command. Are you sure you are using the github version? Should say 1.6.9

[code]

[2022-08-02 03:45] samboy84 commented on #157
Thanks Jeston, Yes Iam using same command. Do I need to update github
version in R-Studio. Iam using R-Studio.

On Monday, August 1, 2022, Jeston ***@***.***> wrote:

[2022-08-03 12:47] JestonBlu commented on #157
Yes, that is the easiest way. You will need the devtools package to install it from github.

[code]

[2022-08-03 15:51] samboy84 commented on #157
Thanks Jeston, I installed devtools and install_github("jestonblu/RobinHood")
but Still Iam getting below error.

 RH <- RobinHood ***@***.***", "*******", mfa_code = "812792")
Error in RobinHood::api_login(username, password, mfa_code) :
  Bad Request (HTTP 400).

Error in get_quote(RH, symbol = SYMBOLS[i]) : object 'RH' not found

On Wed, Aug 3, 2022 at 7:47 AM Jeston ***@***.***> wrote:

[2022-08-14 15:52] samboy84 commented on #157
Jeston,

Iam getting this error now.

Error in RobinHood::api_quote(RH, quote_url) : Not Found (HTTP 404)

On Wed, Aug 3, 2022 at 10:51 AM sam t ***@***.***> wrote: